[2019-08-05 14:15] stefangordon commented on #4390
I think this may just be a small enhancements on the child resource query to make sure we include access to the parent as needed.  Currently we may just include the parent ID or other specified fields rather than a flag to fully set `c7n:parent` to the resource dictionary.

Tasks:
- Investigate solution for the child resource
- Propose design (in this thread)
- Implement

[2019-08-05 14:17] stefangordon opened #4503 "azure - container host - Implement click CLI"
Decouple options gathering from main host, use Click for CLI/Env support.
https://click.palletsprojects.com/en/7.x/

[2019-08-05 14:18] stefangordon opened #4504 "azure - container host - ACI deployment tooling"
Scripts/templates/docs/whatever is required to easily use in ACI

[2019-08-05 14:19] stefangordon opened #4505 "azure - container host - k8s tooling"
Ability to easily deploy/run container host in K8s with some sort of management group support.

[2019-08-05 14:22] stefangordon opened #4506 "cask - documentation"
Getting close to being able to document this for more general public use, we'll need:

- Dedicated docs page to explain installation, advanced options, cache, custom images, etc
- Updated getting started pages

[2019-08-05 19:39] rodrigokrolle opened #4510 "Policy variable LoadBalancerName"
Realized issue in ELB resource policy and action "enable-s3-logging" setting the prefix using variable {LoadBalancerName}. The same configuration works fine when resource is app-elb

policies:
  - name: elblogs
    resource: elb
    actions:
      - type: enable-s3-logging
        bucket: bucketXXX
        prefix: "{LoadBalancerName}"
        emit_interval: 5

I got the following error:

botocore.

[2019-08-05 20:04] stefangordon opened #4511 "Azure - Support metrics filter on Cosmos DB child resources (collection)"
We can query metrics on the CosmosDB Account just fine, but the child collection resources aren't real ARM resources, they are implemented via the data plane.

There is no design/implementation plan for this yet.  Here is what I know:

The metrics filter supports filtering by children of CosmosDB Accounts, collection and database (and they do it in the portal UI also), but it has to be included in

[2019-08-05 20:07] stefangordon opened #4512 "azure - Metrics Filter - write metrics into resource dictionary"
Today the metrics filter looks up all the metrics but does not augment the resource.  This data needs to go into the resource so it can be viewed in the resource.json.

If I am filtering on Memory usage > 80% I'd like to see memory usage in my resource.json for each resource.

[2019-08-06 04:03] sent2020 opened #4513 "Option to delete inline policies in role and group like iam-user"
Option to delete inline policies in role and group like iam-user

[2019-08-06 13:57] ChiefRiver opened #4514 "'resultToken' sent with Mode: Config and taking up alot of space for SQS notify"
when using 'config' mode and action is 'notify' with SQS the results are very long and sometimes do NOT fit in the SQS message (256K max). The 'resultToken' is a long (seems to be base64 like?) and takes up 1/3 of the entire message. Would be nice to have this stripped ensuring the message will fit in SQS

![image](https://user-images.githubusercontent.com/11962781/62545835-71481080-b830-11e9-8eea

[2019-08-06 14:05] matias2681 commented on #4349
Sorry if the example wasn't clear. We found a way to make it work. Though, the intersection of policies and accounts would be a nice feature. I'm okay if you want to close the issue or leave it in your backlog.

[2019-08-06 14:10] jainankurp commented on #4502
@stefangordon Stefan, Any inputs from your side? Is this action works at your end?

[2019-08-06 14:27] FireballDWF commented on #4501
Closing as you are correct, uncommenting the package line makes the snapshot work.

[2019-08-06 14:27] #4501 closed

[2019-08-06 14:51] stefangordon commented on #4502
Hey @jainankurp yes I am not yet sure how to reproduce the failure.

The http error appears to indicate the logic app can not be reached.  Do you have any special networking configurations such as firewalls or vnets enabled on the logic app or the location that Cloud Custodian is running from?

You mentioned you saw activity logs on logic app, but I am guessing these were from us looking up the tr

[2019-08-06 14:55] stefangordon commented on #4502
Adding @aluong as he wrote up these instructions

[2019-08-06 16:11] jainankurp commented on #4502
Weird, I can see this activity which makes me feel that custodian is trying to call logic app but call wasn't successful. "AA-CloudCustodian" is service principal name under which i am executing the policy.
![CC_error](https://user-images.githubusercontent.com/52048623/62556329-9e9dba00-b842-11e9-88e8-53609a1444ea.png)

when i call the endpoint url from web browser from the machine which has custo

[2019-08-06 16:17] aluong commented on #4502
@jainankurp are you able to invoke the Logic App (ex: using `curl`) on the same machine you are running Custodian?

[2019-08-06 16:33] jainankurp commented on #4502
@aluong I have used PostMan app and it's able to invoke the logic app via "POST". However, making a "GET" request giving message "{"error":{"code":"TriggerRequestMethodNotValid","message":"The HTTP method for this request is not valid: expected 'POST' and actual 'GET'."}}".

This is logic app design.
![image](https://user-images.githubusercontent.com/52048623/62558044-38b33180-b846-11e9-838d-85880

[2019-08-06 16:35] stefangordon commented on #4502
Yeah so activity log is us making an AD authenticated call to find the HTTP trigger endpoint for you:
e.g. to lookup this URL:
/workflows/d0b25214b0854c26b4cd825c5249298a/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DOcxgDV0uaqPFAG_UCX29mQ32FvEY-X5IdBR6EZEtLg

Then after that we try to do a POST to that url, which is the part that is failing.

[2019-08-06 16:40] jainankurp commented on #4502
@stefangordon yes, it is the same url, i am making POST call.

how this action is working at your end?
do you have any specific configs which were not mentioned in documentation.

[2019-08-06 16:42] stefangordon opened #4515 "CI - codecov blocking all PRs"
Seems we are at 100% non-reporting codecov for ~3 days or so?

Lets use this thread for updates.

I believe all builds in the last 3 days are showing the "missing base report" (and sure enough all the parent commits are missing, even if they were previously there.  e.g. go to the preceding PR and its codecov is gone now)

https://codecov.io/gh/cloud-custodian/cloud-custodian/pulls

[2019-08-06 16:44] stefangordon commented on #4515
Three options I am aware of:

- Switch to doing simple coverage percentage thresholds in devops pipeline.  I have this working already in a fork.
- Disable codecov gate entirely
- Switch to Coveralls (The pipeline changes are easy, but I need the repo token and am having trouble accessing it, I suspect @kapilt will have it since he experimented with Coveralls last December and created the repo ass

[2019-08-06 16:49] erwelch commented on #4399
The filter in question is a 'Related Resource Filter' - needs investigation into caching on the base class.

[2019-08-06 16:54] stefangordon commented on #4515
This was the last commit/PR https://github.com/cloud-custodian/cloud-custodian/pull/4171

[2019-08-06 16:57] stefangordon commented on #4515
I'm experimenting with republishing codecov results for the "missing base report" commits.

[2019-08-06 17:09] kapilt commented on #4515
i'm mostly mia this week, i can disable the gate, and keep it as advisory. we used to use coveralls but had reliability issues with it, and codecov offered a superior ux experience.

[2019-08-06 17:18] aluong commented on #4502
@jainankurp the `logic-app` is essentially a wrapper around the [webook action](https://cloudcustodian.io/docs/actions.html#webhook-action) that fetches the url programmatically. Can you try switching to a webhook and see if you see the same issue?

[2019-08-06 17:22] #4403 closed

[2019-08-06 17:31] stefangordon commented on #4502
Agreed just drop that same URL from the POST call in as the `url` field, and change action type to `webhook` - the only difference between the two is that `logicapp` looks up and sets the URL field for you.  Curious if it works that way.

[2019-08-06 18:01] #4379 closed

[2019-08-06 18:07] erwelch opened #4517 "azure - add documentation for App Insights/Logs (Analytics) sample queries"

[2019-08-06 18:08] jainankurp commented on #4502
unfortunately, i am getting same error message after changing type to webhook. This is sample actions from policy.
actions:
      - type: webhook
        url: https://prod-23.eastus.logic.azure.com/workflows/d0b25214b0854c26b4cd825c5249298a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DOcxgDV0uaqPFAG_UCX29mQ32FvEY-X5IdBR6EZEtLg
        batch: false

[2019-08-06 18:09] erwelch opened #4518 "azure - searching for "VM" in cloud custodian docs returns zero results"

[2019-08-06 18:09] erwelch opened #4519 "azure - use a prefix in front of GUID for naming the NSG inbound security rule"
Allow the user to pass a prefix to generate the new network security rule in the NSG actions. Enables users to adhere to naming conventions.

**Current**
------------
The logic in the 'NetworkSecurityGroupPortsAction' base class uses a hard coded prefix with a GUID post-fix to generate the new rule name.

**Expected**
-------------
Can take in a prefix to generate the new rule name.

[2019-08-06 18:10] erwelch opened #4520 "azure -improve documentation on which filters are expensive/timely"

[2019-08-06 18:10] erwelch opened #4521 "azure - route tables tag operation doesn't work"

[2019-08-06 18:10] erwelch opened #4522 "azure - add support for NSG to use "Any" Port options or "*""

[2019-08-06 18:12] erwelch opened #4523 "azure - improve documentation on how to find properties on resources and how to build a JMESPath"

[2019-08-06 18:22] stefangordon commented on #4502
In this case the totality of the error is `A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond`

Wherever you are running Custodian from is not able to access that URL.

Are you running Custodian at the command prompt locally? Or in an Azure Function?

I'm suspecting i

[2019-08-06 18:24] stefangordon opened #4525 "c7n - webhook action should support proxy"
Doesn't seem to pickup default proxies, and doesn't allow you to configure one.

[2019-08-06 18:25] erwelch opened #4526 "azure - work on routes not just route tables"

[2019-08-06 18:25] stefangordon commented on #4502
https://github.com/cloud-custodian/cloud-custodian/issues/4525

[2019-08-06 18:25] erwelch opened #4527 "azure - webhook needs to send through proxy"

[2019-08-06 18:27] erwelch opened #4528 "azure - no way to run pull mode if you have azure-periodic\event-grid in the policy"

[2019-08-06 18:29] erwelch opened #4530 "azure - add HDInsight resource"

[2019-08-06 18:30] erwelch opened #4531 "azure - add Datawarehouse resource"

[2019-08-06 18:30] erwelch opened #4532 "azure - add PostgreSQL database resource"

[2019-08-06 18:32] erwelch commented on #4527
closing since duplicate of #4525

[2019-08-06 18:32] #4527 closed

[2019-08-06 19:05] stefangordon commented on #4476
The docs clearly show instance view in the response here:
https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/list#containergroupslist

But I'm not seeing them right now on my resources.  Going to go ahead and get this support added anywhere and we'll update the bug to investigate those fields further.

[2019-08-06 21:10] #4378 closed

[2019-08-06 21:39] stefangordon commented on #4515
heh, not blocking as we can update the pipeline to fix this, but wanted to note that now coverage publishing to codecov is just outright failing with HTTP 503

/dev/fd/63: line 2: `<head><title>503 Service Temporarily Unavailable</title></head>

[2019-08-06 21:51] aluong opened #4535 "Azure - remove manually created docs"
Remove the [supported resources section](https://cloudcustodian.io/docs/azure/policy/index.html), because it has outdated information or duplicated information.

[2019-08-07 05:55] aluong commented on #4494
Related #3327

[2019-08-07 13:09] #4244 closed

[2019-08-07 13:46] stefangordon commented on #4515
This morning it looks like all builds were failing due to the publish failure now.  Investigating.

[2019-08-07 13:50] stefangordon commented on #4515
Looks like they fixed it an hour ago.

[2019-08-07 13:59] #4535 closed

[2019-08-07 14:08] stefangordon opened #4539 "azure - firewall supports Azure IP space lookups"
There is now a preview API to get this data easily:
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags-in-on-premises

Firewall should allow specifying some sort of keywords in place of IP's that lookup into this data.

[2019-08-07 14:12] leoramirez-mulesoft opened #4540 "EC2 snapshot fails in Lambda but not locally"
Hello guys thank you for such wonderful tool... but I'm afraid I found a bug:

I'm trying to take an EBS snapshot from an EC2 policy:

[code]

And it runs locally without mode section, it takes EBS snaps and copy tags to them just as intended.

But it fails when run from Lambda, the policy deploys (CloudWatch rule and Lambda function), but when Lambda runs, it throws the following error (in CloudW

[2019-08-07 15:44] yayitserica commented on #4490
This issue is a dupe of [4526](https://github.com/cloud-custodian/cloud-custodian/issues/4526)

[2019-08-07 15:44] #4490 closed

[2019-08-07 15:45] yayitserica commented on #4489
This issue is a dupe of [4521](https://github.com/cloud-custodian/cloud-custodian/issues/4521)

[2019-08-07 15:45] #4489 closed

[2019-08-07 15:46] yayitserica commented on #4483
This issue is a dupe of [4518](https://github.com/cloud-custodian/cloud-custodian/issues/4518)

[2019-08-07 15:46] #4483 closed

[2019-08-07 15:47] yayitserica commented on #4482
This issue is a dupe of [4517 ](https://github.com/cloud-custodian/cloud-custodian/issues/4517)

[2019-08-07 15:47] #4482 closed

[2019-08-07 15:48] yayitserica commented on #4485
This issue is a dupe of [4519](https://github.com/cloud-custodian/cloud-custodian/issues/4519)

[2019-08-07 15:48] #4485 closed

[2019-08-07 15:49] yayitserica commented on #4486
This issue is a dupe of [4520](https://github.com/cloud-custodian/cloud-custodian/issues/4520)

[2019-08-07 15:49] #4486 closed

[2019-08-07 15:49] yayitserica commented on #4487
This issue is a dupe of [4523](https://github.com/cloud-custodian/cloud-custodian/issues/4523)

[2019-08-07 15:49] #4487 closed

[2019-08-07 15:50] yayitserica commented on #4488
This issue is a dupe of [4522](https://github.com/cloud-custodian/cloud-custodian/issues/4522)

[2019-08-07 15:50] #4488 closed

[2019-08-07 17:06] jainankurp commented on #4502
@stefangordon @aluong i have deployed Custodian to a new Internet vm (without proxy). I can see the logic-app is getting triggered but i am getting below error in Custodian that "Message: Resource group 'ResourceGroupName' could not be found."

error text -
_File "c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\azure\mgmt\logic\operations\workflow_triggers_operation

[2019-08-07 18:20] axis7818 commented on #4401
The basic "Protocol Settings" seem to be available through ARM APIs:

* [minTlsVersion](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/getconfiguration)
* [httpsOnly and clientCertEnabled](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/get) (available directly on the resource)

So, adding a custom value filter on the `Get Configuration` call would be helpful

[2019-08-07 19:32] ryanash999 opened #4542 "Security group and network acl limitation"
version = 0.8.41.0

**Goal**: Identify network-acl which DO NOT have a deny statement similar to this:

[code]
Attempted policy:
[code]

**Result:**  The filters are all being applied across the whole network-acl Entities list and thus I am matching on any NACL which matches but it isn't matching a single entity, rather various NACL rules

Question/Issue: I cannot create policies which find NACLS

[2019-08-07 22:58] aluong opened #4543 "azure - cannot tag azure.sqldatabase"
https://docs.microsoft.com/en-us/rest/api/sql/databases/update (latest API version 2017-10-01-preview)

Error:
`Name: cctestdb.
Error: Parameter 'api_version' can not be None.
2019-08-07 15:55:28,057: custodian.azure.AzureBaseAction:ERROR Failed to process resource.
Type: Microsoft.Sql/servers/databases.`

The problem comes from how we fetch the api-version from the `resource_id`.
The namespace is

[2019-08-08 00:47] #4400 closed

[2019-08-08 00:59] ericdahl opened #4545 "c7n-org: Tag filter doesn't work for AWS resources with ListTags API (e.g., Lambda, DynamoDB)"
When running this policy:

[code]

It reports different results when using c7n compared to c7n-org.

For example, c7n correctly reports 110 lambdas without this tag in this account:
[code]

versus c7n-org incorrectly reporting 248 lambdas. This is the total number of Lambdas, with this tag or without:
[code]

I've observed the same behavior with DynamoDB tables, but not EC2 instances. This suggest

[2019-08-08 05:08] chizou commented on #3132
Are there any updates on this issue? I'm seeing a similar error.

If it's of any relevance, I tried adding `botocore` as one of the dependencies and when I add that to the deployment package, I'm getting the following new but similar error:
[code]

[2019-08-08 05:30] chizou commented on #3132
This is fixed once I upgraded the `certifi` module. Can `certifi` be added in the `requirements.txt`? Is there a valid reason for keeping an older version of it?

[2019-08-08 09:34] evhenyshaliov opened #4547 "gcp - vpc service - work with organizations"
We implemented a feature that allows to work with VPC service.
The feature is useful in terms of audit security, update security policies in an organization etc. Some use cases are available in the branch in rst file.
The service doesn't work with gcp project. It works with organizations. So we propose to add ability to use organizations using query param.

The PR is https://github.com/mediapills/

[2019-08-08 14:34] stefangordon opened #4548 "azure - sql metrics example does not work"
SQL/DTU example throws an error
https://cloudcustodian.io/docs/azure/examples/metrics-general-compute.html

If I recall it is missing one of the optional fields that sets the dimension.

[2019-08-08 14:38] stefangordon opened #4549 "azure - organize example groups"
Notify section has no notify example, only logic app.  Notify example is in general.  Need to go over all of them and regroup them into the right buckets...

https://cloudcustodian.io/docs/azure/examples/index.html#general

[2019-08-08 14:43] stefangordon opened #4550 "azure - mark for op sample"
The mark for op sample is not sufficient.  It doesn't even have the time span in it, which is the entire purpose of mark for op.

The action and filter have to be used together, so showing each in isolation isn't useful.

Either we need to show robust examples in the core docs there, or add a link from them to a new full features mark for op example page.

https://cloudcustodian.io/docs/azure/reso

[2019-08-08 15:56] bclements opened #4551 "CLA Signature Required for Cloud Custodian Contributions"
Hey folks,

I'm one of the Cloud Custodian organization owners at Capital One. As part of the contribution process to Cloud Custodian, we need each of you to go out and sign the CLA: [CLA](https://docs.google.com/forms/d/19LpBBjykHPox18vrZvBbZUcK6gQTj7qv1O5hCduAZFU/viewform?edit_requested=true). We'd appreciate if you could do this as soon as possible. Please reply once you have signed.

We are cu

[2019-08-08 16:09] aluong opened #4552 "azure - add a check for Function periodic syntax"
## Actual
If you add a poorly formatted or cron syntax, you will get a host runtime failure in the Azure Function. This can be fairly difficult to debug at face value.

Ex: '* * * * *' (missing one time interval)

## Expected
We should do validation of the syntax to ensure it will be compatible with the Azure Function. We can throw a validation exception here.

[2019-08-08 16:55] taohungyang commented on #4551
**Signed**
Thanks!

[2019-08-08 17:07] kapilt commented on #4551
This should have been handled by sending an email. Half that list is folks from Capitalone at the time of contribution.

[2019-08-08 17:08] kapilt commented on #4551
I suggest we close this pending an email discussion, while I appreciate your role, contacting the project maintainers would have more appropriate.

[2019-08-08 17:21] stefangordon opened #4553 "azure - on/off hours works for resource scaling that requires state"
This actually requires no changes to on/off hours - but the scenario is making on/off hours useful for resizes (shrink app service plan at night, or reduce cosmosdb RU, then bring them back in the morning)

So on/off hours is just a filter - but in order to restore a resource back to its original state during "on hours" we need to store the state (it's original size/scale) somewhere.

To Do:
- Sup

[2019-08-08 18:10] FireballDWF opened #4554 "Enable sharing ebs-snapshots with another account(s)"
Support Incident Response workflows where snapshots are created via ec2.action.snapshot by enabling the sharing of the snapshot with another account.

Expect another attribute to be added to the existing snapshot action.  Expect implementation to call the ModifySnapshotAttribute api.

[2019-08-08 18:31] justinhauer opened #4555 "Azure - Custodian Report - Running on multiple subscriptions"
Can `custodian report` run across multiple subscriptions? From my initial investigation and looking through the documents it appears it only works on the subscription set in our azure-cli session, and appears to ignore if you're using management groups, or service principal authentication.

[2019-08-08 18:43] aluong opened #4556 "azure - resizing app service plan failing for Linux and Consumption Plans"
## Actual:

If `reserved` is not set, Linux App Service Plans will fail. Consumption plans for Windows and Linux do not support resizing.

### Error:
2019-08-08 10:25:02,370: custodian.azure.AzureBaseAction:ERROR Failed to resize tag-rg-consumption.  Inner exception: {'additional_properties': {'Code': 'BadRequest', 'Details': [{'Message': 'You cannot change the OS hosting your app at this time. Pl

[2019-08-08 18:50] kapilt commented on #4555
c7n-org should do the multi account / multi subscription use case

[2019-08-08 18:54] #4551 closed

[2019-08-08 18:58] justinhauer commented on #4555
Got it! thanks. I'm closing the issue.

[2019-08-08 18:58] #4555 closed

[2019-08-08 20:23] JJediny opened #4557 "As a user, I want an easier way to setup cloud custodian's python environment"
**Feature Request:**
Use [pipenv](https://docs.pipenv.org/en/latest/) over raw python3 and virtualenv. FWIW, we've switched over alot of our python projects to using it, and found it saves others alot of headache worrying about whether they've activated their virtualenv on python projects. Happy to submit a PR for a `pipfile`, just wanted to get this on the project's radar.

[2019-08-08 20:29] FireballDWF opened #4558 "Enable setting SecurityHub Finding RecordState=Archive"
Use Cases:

1. Security Hub Custom Action, usually when combined with some other action.
2. When auto responding to a hub-findings event, it would be helpful to eliminate the need for human review by supporting the Archiving of the finding by allowing the updating of the RecordState attribute (in a post-finding action) to ARCHIVED.

[2019-08-08 20:30] FireballDWF commented on #4558
Current the code on line 240 of c7n/actions/securityhub.py is the one which would be need to support a value to be supplied, with default being the current ACTIVE value.

[2019-08-08 20:54] kapilt commented on #4557
Pipenv is even more niche, most of users no little about python packaging ecosystem, and frankly they shouldn’t have to. we’re heading down the direction of docker images with a golang frontend to avoid install/upgrade headaches.

[2019-08-08 21:19] tuxinaut commented on #4424
I was on vacation and found just now time to have a look and write back.

@PratMis @kapilt thank you very much for clarification :+1:

[2019-08-08 21:21] aluong commented on #4520
You can write the metrics and logs into Application Insights. ([Details](https://cloudcustodian.io/docs/azure/configuration/monitoring.html#writing-custodian-metrics-to-azure-app-insights))

[2019-08-08 21:22] #4520 closed

[2019-08-08 21:41] JJediny commented on #4557
thanks much for the explanation; just wanted to document

[2019-08-08 21:41] #4557 closed

[2019-08-08 21:41] erwelch commented on #4519
Allow the user to pass a prefix to generate the new network security rule in the NSG actions. Enables users to adhere to naming conventions.

Current: The logic in the 'NetworkSecurityGroupPortsAction' base class uses a GUID to generate the new rule name.

Expected: Can take in a prefix to generate the new rule name.

[2019-08-08 22:59] #4174 closed

[2019-08-08 23:07] vtomardb opened #4559 "ConfigRule: InsufficientPermissionsException"
two policies:

[code]

running command with Admin priv access keys

[code]

Output:
[code]

[2019-08-09 00:09] erwelch opened #4560 "mailer - SMTP doesn't work with SMTP server installed to localhost"

[2019-08-09 00:37] #4494 closed

[2019-08-09 00:46] stefangordon commented on #4525
We should make this work the same way as the Azure SDK
https://github.com/Azure/azure-sdk-for-python/blob/4a03da00385e3c86cce43677db6abc9e21319d64/sdk/core/azure-core/docs/configuration.md#configuring-proxy

We can go see how they implemented it and then do something similar in the URLLIB3 ProxyManager

[code]

[2019-08-09 03:35] FireballDWF opened #4561 "enable archive-findings in guardduty"
Add the action of archive-findings in guardduty to enable use cases of automated remediation or custom actions in security hub to archive-findings (in this case within Guardduty).

[2019-08-09 04:54] vtomardb commented on #4559
If I look at config I see only one:

<img width="1165" alt="Screen Shot 2019-08-08 at 9 53 05 PM" src="https://user-images.githubusercontent.com/51141202/62754982-fac13380-ba26-11e9-9bcb-83fcd1cdc3be.png">

[2019-08-09 04:55] vtomardb commented on #4559
even tried adding, role has admin access:

[code]

[2019-08-09 06:43] logachev commented on #4398
@stefangordon do we have any role assignment with 'Azure' scope in our subs?

[2019-08-09 11:42] tuxinaut commented on #4425
@kapilt sorry for the late answer I was on vacation and only now found time to answer.

`OS:` **Ubuntu 16.04**

[2019-08-09 12:29] kapilt commented on #4559
Is the profile your using for the account with the lambda and config rules. This is a provisioning error not because of the lambda’s role, but because of your profile

[2019-08-09 14:01] stefangordon commented on #4398
If they exist I assume we'd see them when we run the role assignment enumeration.   I actually was not familiar with them so I had assumed the title was erroneous, but I see in your description you definitely intended it on purpose so maybe we missed something here?

[2019-08-09 15:38] stefangordon opened #4563 "azure - policy.py unit tests"
https://codecov.io/gh/cloud-custodian/cloud-custodian/src/4ab818b4295ba608dd8a21870ef5a0bc2fbacaa2/tools/c7n_azure/c7n_azure/policy.py

Our lowest coverage is in here, lets see if there are any useful tests we are missing, ideally all mocked and not actually provisioning anything :)

[2019-08-09 15:40] stefangordon opened #4564 "azure - do not allow function deployment with CLI auth"
This was a regression on session.py refactor, we should log an error and stop if the user is using CLI auth during a function mode.  Historically we did this check in session.py when we wrote the auth file, which is fine to continue probably, since no valid auth file can be made with CLI auth.

[2019-08-09 15:42] kapilt commented on #4559
was this originally deployed as a config rule, ie. was this a lambda policy that was changed? we generally add the permission the lambda post put of the config rule, that generally works fine, and i checked terraform's generation here where they do the same. i'll continue to investigate but it would be useful to understand the differential here.

[2019-08-09 16:08] erwelch commented on #4398
Oh missed it in the title - just read 'Azure Management Group' instead of 'Azure', 'Management Group' - I assume it's a small add. I can look at that today.

[2019-08-09 16:50] erwelch commented on #4398
From the docs it doesn't look like you can provide an 'Azure' scope on RBAC roles: https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles

Only the directory admin roles have tenant level scope specifically for AAD permissions, but that's not supported in this scenario.

[2019-08-09 16:53] erwelch commented on #4398
Although does look like there is 1 scenario where this is possible and the scope appears to be 'Root (inherited)': https://docs.microsoft.com/en-us/azure/role-based-access-control/elevate-access-global-admin

[2019-08-09 16:55] erwelch commented on #4398
Cool it appears as just a '/' scope - I can add that.

[2019-08-09 17:14] #4398 closed

[2019-08-09 17:26] axis7818 commented on #4512
@stefangordon, anything else needed on this now?

[2019-08-09 17:37] vtomardb commented on #4559
clean all old lambda and rules, running these policies:

[code]

1st run:
[code]

[2019-08-09 18:24] vtomardb commented on #4559
2nd attempt with adding 3 more policies:

[code]
2 worked from here:

[code]

[2019-08-09 18:36] vtomardb opened #4566 "Feature: allow RDS/EBS snapshots to be removed from being public"
There is option for RDS - `set-public-access`. I would request if we can have something similar for `ebs-snapshots` and `rds-snapshots`.

Right now we only have `copy` and `delete` option.

[2019-08-09 19:49] ryanash999 commented on #4496
Actions cannot be made unique per filter.  Just make two policies.  FYI tags often filtered as follows:

[code]

[2019-08-10 00:51] kapilt commented on #4559
ic.. its eventually consistent issue with iam.

[2019-08-10 01:16] #4275 closed

[2019-08-10 01:18] kapilt commented on #4566
generally read/writes policies have gone with deletes around this filter, so it would be useful to understand the scenario where the set access would be preferred.

[2019-08-10 01:21] vtomardb commented on #4566
this is what i am issue with users are making snapshots public, i dont want to delete them. i just want to remove them from being public and let the snapshot exist.

![Screen Shot 2019-08-09 at 6 20 53 PM](https://user-images.githubusercontent.com/51141202/62815788-73c99500-bad2-11e9-9aeb-429f952b25a5.png)

[2019-08-10 01:29] kapilt commented on #4566
sure, the question is most of these snapshot scenarios are backups (ie there's a cardinality to the set > 1), so what's the scenario for not just deleting one vs modifying it to remove sharing.

[2019-08-10 01:31] kapilt commented on #4540
this needs a newer sdk then whats in lambda, you'll need to add
`packages: [boto3, botocore, urllib3]` to the mode section of this policy.

[2019-08-10 02:57] vtomardb commented on #4566
we can manage without it, or I was thinking taking a copy in a new region and then deleting it..  just a nice to have.. I am sure there are more imp. things we will need than this..

[2019-08-10 02:57] #4566 closed

[2019-08-10 04:33] aluong commented on #4502
Ok, so it seems like the first issue was because of the Proxy. That was good to know.

I would first try the webhook, so you can see if you can get a working E2E. It doesn't do any smart lookups, so it will just hit the URL you provided directly.

I would double check the subscription and make sure it is the same subscription where your logic app is located. If you are using Azure CLI auth and you

[2019-08-10 06:56] cvemula1 commented on #3090
Is im doing something wrong here ? I'm trying to enable access logging specific to single bucket
resource: s3
    filters:
      - and:
        - type: is-log-target
          services:
            - cloudtrail
        - type: value
          key: "Logging.TargetBucket"
          value: absent
        - type: data-events
          state: absent
        - type: value
          key: trail

[2019-08-11 11:29] nitrocode opened #4568 "Cannot remove outdated ami with a missing launch template"
Policy

[code]

Command

[code]

Exception

[code]

[2019-08-11 11:56] nitrocode opened #4569 "account-service-limits hits CaseCreationLimitExceeded if"
Policy

[code]

Exception

[code]

Since this hit an exception, it never sent a message to SQS to notify slack or email.

[2019-08-11 12:18] nitrocode opened #4570 "AvailableIpAddressCount subnet filter throws array error"
[code]

[code]

[2019-08-12 13:29] jainankurp opened #4573 "webhook notifications"
@aluong hey, i have tried below article for sending notification. Only difference is i am using webhook instead of logicapp due to proxy issues at my end. However, i am getting error while notification.
https://github.com/cloud-custodian/cloud-custodian/blob/f10ebd38707018d7643c6075da828e3d6cc6d443/docs/source/azure/examples/logicappnotifications/logicappnotification.rst

error message :
_InvalidT

[2019-08-12 14:02] kapilt commented on #4569
this feature set is something we need to migrate to service-quotas, the existing implementation has numerous limitations.

wrt to case creation limit, these sorts of policies should not be in lambda, which would resolve that.

wrt to error, custodian prefers to stop processing in the face of errors than blithely continue on. There are metrics for errors and logs thats should be monitored.

[2019-08-12 14:33] stefangordon commented on #3327
I believe this was fixed with #4494

[2019-08-12 14:33] #3327 closed

[2019-08-12 14:34] stefangordon commented on #4138
I believe this is out of date now that we have our grouped generated nav in

[2019-08-12 14:34] #4138 closed

[2019-08-12 14:34] #4179 closed

[2019-08-12 14:35] stefangordon commented on #3861
This will be covered by other work items about documenting incoming hosting features now.

[2019-08-12 14:35] #3861 closed

[2019-08-12 14:38] stefangordon commented on #4377
Yeah we should at least link people to this.

[2019-08-12 14:44] #3957 closed

[2019-08-12 14:47] stefangordon commented on #4158
I believe this is what we do today in the `setup` for our `basetest` - we patch the LRO Poller unless you set a decorator telling us not to.  Is this issue still valid?

[2019-08-12 14:53] stefangordon commented on #4158
Going to close unless it comes up again somewhere as a problem.

[2019-08-12 14:53] #4158 closed

[2019-08-12 14:54] stefangordon commented on #3921
Lots of firewall work happening, rather than tracking this old issue I think we'll be looking at the tests fresh as we keep updating them with new features.  I think no one is likely to act on this specific issue.

[2019-08-12 14:54] #3921 closed

[2019-08-12 14:54] nitrocode commented on #4569
Yes, I noticed that the default message for slack was empty when it posted. Any idea when it will be moved to a service quota?

will it then still be an automatic function that can post to slack when a request is received?

understandable but in this case, since it already created 10 service requests, it should have still notified SQS and then thrown the error, no?

[2019-08-12 15:00] The1hauntedX opened #4574 "c7n-org namespace"

[2019-08-12 15:05] The1hauntedX commented on #4574
Using the documentation on [custodian metrics](https://cloudcustodian.io/docs/aws/usage.html#metrics) does not support writing policy lambas to custom cloudwatch metrics namespaces.

command syntax: c7n-org run -c /policy/policy.yml -s . --metrics-uri aws://?namespace=foo -u /policy/regional/policyfile.yml

[2019-08-12 15:09] stefangordon opened #4575 "azure - investigate cost management exports"
Customers requests it be possible to trigger an export via a Custodian action
https://docs.microsoft.com/en-us/rest/api/cost-management/exports/createorupdate

Please investigate this part of Cost Management and see if fits into Custodian.  Is there an actual resource type for it (maybe the export schedules?)

Can the action trigger on demand or can we just make export schedules?

If there is a lo

[2019-08-12 15:10] stefangordon commented on #4175
This issue is not detailed enough, so please update with brief design before implementing (Do we need new resources, filters, actions?)

[2019-08-12 15:13] #4121 closed

[2019-08-12 15:15] #3922 closed

[2019-08-12 15:16] #4550 closed

[2019-08-12 15:17] stefangordon commented on #3311
#4530

[2019-08-12 15:20] stefangordon commented on #4526
Can we close this for #4175?  That one is about making sure we can filter/action on routes inside a route table.  TBH on whether that is a child resource or more likely just custom filter/action.

[2019-08-12 15:26] stefangordon commented on #4532
Duplicate of #3339

[2019-08-12 15:27] stefangordon commented on #4530
Duplicate of #3311 ?

[2019-08-12 15:42] #4564 closed

[2019-08-12 15:43] stefangordon commented on #4552
Can do a regex in the json schema for both azure function and container host mode (note one is a 6 part and one is a 5 part).

[2019-08-12 16:08] cvemula1 opened #4576 "AccessLogs enable for cloudtrail s3 bucket"
I'm trying to enable access logging specific to single bucket
resource: s3
filters:
- and:
- type: is-log-target
services:
- cloudtrail
- type: value
key: "Logging.TargetBucket"
value: absent
- type: data-events
state: absent
- type: value
key: trail
value: GovernanceCloudTrail
actions:
- type: toggle-logging

I'm not able to run this as expected

[2019-08-12 16:40] stefangordon opened #4577 "Azure - Key Vault - Support Certificates"
Need to handle scenarios

"Find keys expiring soon"

and

"Find certificates expiring soon"

We might have keys already, pretty sure not certificates.

[2019-08-12 16:52] stefangordon opened #4578 "azure - keyvault - managed storage account"
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys

We need to support these KV managed storage accounts and be able to filter on keys based on date/expiry and trigger a rotation.

[2019-08-12 18:40] leoramirez-mulesoft commented on #4540
Thank you very much @kapilt for the explanation and the solution; It makes it now work in lambda :-)

[2019-08-12 18:40] #4540 closed

[2019-08-12 20:39] miked63017 opened #4580 "AttributeError: 'Process' object has no attribute 'oneshot'"
I briefly searched but could not find any issues related to this, I am running a tag compliance policy and when I run ```custodian run --dryrun -s out tag-compliance.yaml``` I get the following stack trace:

[code]

Here is my yaml policy:
[code]

Running version from github master I cloned yesterday, and did a fresh pull(and re-installed) against this morning. Anyone have any ideas?

[2019-08-12 20:40] miked63017 commented on #4580
Also get the same error if I use an even simpler yaml like described in the docs:
[code]

[2019-08-12 20:57] #4576 closed

[2019-08-12 20:57] cvemula1 commented on #4576
filters:
      - and:
        - type: is-log-target
          services:
            - cloudtrail
        - type: value
          key: "Logging.TargetBucket"
          value: absent
        - type: value
          key: S3BucketName
          value:"bucketname"

[2019-08-12 21:02] miked63017 commented on #4580
Got it working by creating a new env and pip in stalling c7n rather than python setup.py install

[2019-08-12 21:02] #4580 closed

[2019-08-12 21:22] ryanash999 commented on #4542
I was able to get this working by using ```Entries[*]``` instead of ```Entries[]```

Thanks

[2019-08-12 21:22] #4542 closed

[2019-08-12 21:53] jomalsan opened #4581 "Azure - Docs - getting started"
The Getting Started page should have the "az login" command in the code block for running your first policy. This way just following the code blocks will successfully run, and then the text around the block can mention that other authentication methods are available.

https://github.com/jomalsan/cloud-custodian/blob/master/tools/c7n_azure/readme.md

[2019-08-12 21:53] nitrocode opened #4582 "c7n-mailer does not error if ses:SendRawEmail is not granted iam perms on specific email"
Noticed my c7n-mailer throwing warnings when it should have invoked an error in the lambda monitoring

cloudwatch alert said the following

[2019-08-12 22:11] jomalsan opened #4583 "Azure - Docs - Authentication"
The command for creating a service principal from the Azure CLI uses the now deprecated "--password" flag.

https://github.com/cloud-custodian/cloud-custodian/blob/master/docs/source/azure/configuration/authentication.rst

[2019-08-12 22:17] yayitserica commented on #4505
### ACCEPTANCE CRITERIA

1. Research what it takes to make Custodian on K8 work
2. Research any blockers to make Custodian on K8 work
3. Create instructions on implementation next steps

FYI @stefangordon

[2019-08-12 22:28] yayitserica commented on #4243
### ACCEPTANCE CRITERIA

1. Identify a good place in the code to "catch" this error.
2. Create a notification that a secret/token has expired.

FYI @stefangordon

[2019-08-12 23:07] jomalsan opened #4585 "Docs - Deployment"
As an Azure user, I found the [main deployment page](https://github.com/cloud-custodian/cloud-custodian/blob/master/docs/source/deployment.rst) of the documentation to be a bit confusing due to the focus on AWS. A link to the [Azure specific deployment documentation](https://github.com/cloud-custodian/cloud-custodian/blob/master/docs/source/azure/configuration/hostingoptions.rst) from the top leve

[2019-08-12 23:08] nitrocode opened #4586 "Customizing tags for cloud-custodian-mailer using c7n-mailer"
Would be nice to be able to apply tags to the cloud-custodian-mailer lambda

[2019-08-12 23:28] nitrocode opened #4587 "account request-limit-increase can be raised but the increase may be below threshold"
policy

[code]

For example I originally had 351/400 active load balancers which is 88% usage so this was created to raise it to 500

[code]

Now this was an increase of 25% as expected but this increase drops me only down to 70% usage which then creates another request

[code]

which drops me to 56% but I'm still over my threshold so it creates a final one to increase it to 781.

Instead of `perc

[2019-08-12 23:33] yayitserica commented on #4577
### ACCEPTANCE CRITERIA

1. When a key/certificate is inserted, a notification is triggered.
2. When a key/certificate is updated, a notification is triggered.
3. When a key/certificate is about to expire, a notification is triggered.

FYI @stefangordon

[2019-08-12 23:51] nitrocode commented on #4251
https://github.com/cloud-custodian/cloud-custodian/issues/4569: request-limit-increase hits CaseCreationLimitExceeded
https://github.com/cloud-custodian/cloud-custodian/issues/4587: account request-limit-increase can be raised but the increase may be below threshold

[2019-08-12 23:57] nitrocode commented on #4570
Nevermind. Error in policy.

[2019-08-12 23:57] #4570 closed

[2019-08-12 23:57] yayitserica commented on #4438
### ACCEPTANCE CRITERIA

1. Azure Functions are not allowed to be deployed without having set service principal credentials.
2. Check for null values in auth files should be occur.
3. If any null values exist, deployment should be stopped and notification/warning should be triggered to user.

FYI @aluong

[2019-08-13 00:01] yayitserica commented on #4575
### ACCEPTANCE CRITERIA

1. Verification of what cost mgmt exports can do and if Custodian can indeed export this.
2. Identify if actions can be triggered or scheduled.
3. Identify any blockers, next steps for work related to this in new Github Issue work items.

FYI @stefangordon

[2019-08-13 00:09] yayitserica commented on #4504
### ACCEPTANCE CRITERIA

1. Research what it takes to make Custodian on ACI work
2. Research any blockers to make Custodian on ACI work
3. Create instructions/docs/scripts on implementation next steps

FYI @stefangordon

[2019-08-13 00:11] yayitserica commented on #4578
### ACCEPTANCE CRITERIA

1. When a key/certificate is inserted, a notification is triggered.
2. When a key/certificate is updated, a notification is triggered.
3. When a key/certificate is about to expire, a notification is triggered.

FYI @stefangordon

[2019-08-13 00:18] yayitserica commented on #4517
### ACCEPTANCE CRITERIA

1. C7N documentation on how to query App Insights/Log analytics data
2. Documentation provides sample queries of log data.

FYI @erwelch

[2019-08-13 00:25] yayitserica commented on #4518
### ACCEPTANCE CRITERIA

Given I’m a lC7N user
and I’m using the top left search box on the documentation page
When I type in "VM" into the search box
and I hit "enter"
Then the page returns Virtual Machine resources

FYI @erwelch

[2019-08-13 00:43] yayitserica commented on #3300
### ACCEPTANCE CRITERIA

1. Evaluation of Azure Resource Graph and recommendations on how C7N architecture would be affected by moving to resource graph for resource queries.
2. Create a new GitHub issue to address next steps on implementing Azure Resource Graph

FYI @stefangordon

[2019-08-13 00:46] yayitserica commented on #4175
### ACCEPTANCE CRITERIA

1. Investigate the ability to filter Route Table by Routes and the ability to modify routes.
2. Create a design to implement this feature in C7N.
3. Create a new GitHub issue to encompass next steps in this implementation.

FYI @stefangordon

[2019-08-13 00:52] yayitserica commented on #3211
### ACCEPTANCE CRITERIA

1. Create a default Analytics view to monitor custodian.
2. The view should be exportable as an ARM template and included in user repos.

FYI @stefangordon do you still consider this a medium scope item?

[2019-08-13 00:59] yayitserica commented on #4012
Duplicate of #4577
Duplicate of #4578

FYI @stefangordon

[2019-08-13 01:03] yayitserica commented on #4394
### ACCEPTANCE CRITERIA

1. Write up summary of immediate & future scenarios (tag lookup, secret lookup, jmespath support).
2. Create a new GitHub issue to investigate design of implementing this tag value feature.

FYI @logachev

[2019-08-13 01:08] justinhauer commented on #4012
@yayitserica are you sure this is a duplicate? Your linked issues do not appear to be related to service principal auth keys but to storage accounts

[2019-08-13 01:11] yayitserica commented on #4481
@erwelch should this be tagged as "scope/small"?

[2019-08-13 01:16] yayitserica opened #4589 "Azure - Docs - Add a Azure Policy vs. Azure Blueprint vs. Cloud Custodian Comparison chart"
As a C7N user, I want to **view a table that compares Azure Policy, Azure Blueprint and C7N** so that ### I can understand the  capabilities and limitations of each tool.

[2019-08-13 01:17] yayitserica commented on #4589
### ACCEPTANCE CRITERIA

1. Table is added to this [documentation page](https://cloudcustodian.io/docs/azure/advanced/azurepolicy.html)
2. Additional text on Azure Blueprint is added to this page.

[2019-08-13 01:25] kapilt commented on #4589
would be helpful to have azure doc links for blueprints and policy here for context.

[2019-08-13 01:28] kapilt commented on #4586
in mailer config file use

[code]

[2019-08-13 02:25] nitrocode commented on #4586
Thank you!

[2019-08-13 05:17] RazaHasan84 opened #4591 "how to check unused VPN tunnel"
I am working on policy to check if tunnels are really used.

https://docs.aws.amazon.com/vpn/latest/s2svpn/monitoring-cloudwatch-vpn.html

as per above doc there is cloud watch metrics to check this but, there is no "-metrics" filter available with schema vpn-connection

[2019-08-13 08:22] aleonidex commented on #4547
@kapilt looking forward your thoughts on the matter. This (usage of organizations) seems like a kind of precedent for Custodian, yet reasonable. Other suggestions surely welcome.

[2019-08-13 08:54] #4586 closed

[2019-08-13 11:56] kapilt opened #4593 "ci - docker build failure due to azure dependency stack"
[code]

[2019-08-13 12:23] kapilt commented on #4591
thanks for the bug report, i dont have one of these handy.. so a little more information/research would be useful.. does this need the TunnelIpAddress to be useful (metrics dimension needed for query)? my reading on the docs says its required, its a bit unclear how we pull that ipaddress unless is it the outside ip address on the vpn connection?

[2019-08-13 12:37] stefangordon commented on #4593
https://pypi.org/project/azure-storage-common/#history

The conflict was there with 2.0.0 but perhaps the change to 2.1.0 caused a problem.

Where can we see the docker CI builds/logs?  I only see the status report for them in the commit history but the details links don't work.

[2019-08-13 13:32] kapilt commented on #4547
it seems to suffer from the same over use of resources to represent nested values instead of using and filters and actions on the parent, as is it leads to a gluttony of resources that people can't use which is not what we want and has been pointed out at numerous times in previous reviews. However at least directionally it has some utility for use by custodian users. wrt to organizations based fu

[2019-08-13 13:46] kapilt commented on #4547
I added some feedback there, but there really seems to be some fundamental misunderstandings on the project goals wrt to the why  thats persistent across the gcp contributions, the intent is to simplify and enable managing environments, not simply be an equivalent to execute shell scripts. ie. using project ids when applying perimeters at scale simply does not work, so figuring out how to simplify

[2019-08-13 13:53] kapilt commented on #4593
the actual build failure might be the one further down, you must be signed into docker hub to see.
note i commented post merge on this pr that introduced this from future import itertools that import indirection was not needed.

[code]

[2019-08-13 14:14] #2124 closed

[2019-08-13 14:21] caversa commented on #4428
I did see that #4292 was merged so I thought I'd try and see how it might help with my particular issue...I'm stuck on how I get the result where the port ranges I reference are excluded with the new filtering.  I assume it needs to be an 'or' situation, but not sure how to get the security group FromPort and ToPort range working with the 'not in' type of need I have, the way the OnlyPorts works.

[2019-08-13 15:57] erikpaasonen commented on #4290
@kapilt @dvianello I'm willing to contribute a Python PR but it's not apparent to me where in the code to make a change similar to PR #4006. Seems to be many layers of abstraction and classes deep.

[2019-08-13 16:37] philipsu522 opened #4594 "AWS - Service limits for accounts doesn't respect multiple regions"
Currently, monitoring service limits for AWS doesn't respect multiple regions (either a list of regions or using "all"), even if the service runs in multiple regions (like EC2, VPN ...etc.).
Take this policy as an example:
[code]
Running this leads to:
[code]
Looking at the file directory, it's apparent that the policy is only run in 1 region:
[code]

The reason for this is because c7n uses the AW

[2019-08-13 18:26] yayitserica commented on #4552
### ACCEPTANCE CRITERIA

1. When validating a policy we are able to check if a schedule schema is correct.

FYI @aluong

[2019-08-13 18:27] yayitserica commented on #3667
### ACCEPTANCE CRITERIA

1. Update existing deprovision scripts or create new ones to clean up subscriptions when you remove Azure serverless base policies.

FYI @aluong

[2019-08-13 18:30] yayitserica commented on #4430
### ACCEPTANCE CRITERIA

1. Both dedicated and consumption Azure function modes have the same publishing workflow.
2. The workflow should be `WEBSITE_RUN_FROM_PACKAGE`

FYI @aluong

[2019-08-13 18:32] yayitserica commented on #4543
### ACCEPTANCE CRITERIA

1. We can tag `azure.sqldatabase`.
2. Other child resources can leverage the same logic to fetch API versions.

FYI @aluong

[2019-08-13 18:33] yayitserica commented on #4521
@erwelch closing this issue.

[2019-08-13 18:33] #4521 closed

[2019-08-13 18:34] yayitserica commented on #3501
### ACCEPTANCE CRITERIA

1. C7N mailer will have a new provider for Teams.

FYI @aluong

[2019-08-13 18:56] yayitserica opened #4595 "Azure - Docs - Example of deploying a Linux premium function with lockdown endpoints"
Canonical example of how we can get C7N an enterprise hosting solution w/ Functions.

### ACCEPTANCE CRITERIA

1. A detailed example w/ design diagrams in documentation.

FYI @aluong

[2019-08-13 20:21] yayitserica commented on #4312
### ACCEPTANCE CRITERIA

1. Documentation should clearly state that the `C7N_TEST_RUN` variable needs to be set locally while recording cassettes because other wise you'll record cassettes and the build will fail.

FYI @erwelch

[2019-08-13 20:22] yayitserica commented on #4358
### ACCEPTANCE CRITERIA

1. Exception handling around provisioning.
2. Better logging in exception handling.

FYI @erwelch

[2019-08-13 20:24] yayitserica commented on #4481
@jomalsan Want to take this work item this week? FYi @erwelch

[2019-08-13 20:27] yayitserica commented on #4531
### ACCEPTANCE CRITERIA

1. Follow steps to add a new resource [see [here]](https://cloudcustodian.io/docs/azure/advanced/contribute.html#adding-new-azure-resources)

FYI @erwelch

[2019-08-13 20:28] yayitserica commented on #4532
### ACCEPTANCE CRITERIA

1. Follow steps to add a new resource [see [here]](https://cloudcustodian.io/docs/azure/advanced/contribute.html#adding-new-azure-resources)

FYI @erwelch

[2019-08-13 20:28] yayitserica commented on #4530
### ACCEPTANCE CRITERIA

1. Follow steps to add a new resource [see [here]](https://cloudcustodian.io/docs/azure/advanced/contribute.html#adding-new-azure-resources)

FYI @erwelch

[2019-08-13 20:46] #4593 closed

[2019-08-13 21:02] logachev commented on #4593
The root cause was in using `future` library.. It is an indirect dependency installed because of `aws_xray_sdk` from `requirements_dev.txt`. That's why it passed CI build, but failed Docker build

[2019-08-13 21:09] yayitserica commented on #4528
### ACCEPTANCE CRITERIA
For the policy with non-pull mode:
1. Be able to run a policy in pull mode on my machine.
2. Be able to provision Azure Functions with this policy.
FYI @logachev

[2019-08-13 21:11] yayitserica commented on #4526
Duplicate of #4175 closing it

[2019-08-13 21:11] #4526 closed

[2019-08-13 21:13] yayitserica commented on #4393
### ACCEPTANCE CRITERIA

1. User can exclude specific subscriptions from a management group for a policy run.

[2019-08-13 21:17] yayitserica commented on #4397
### ACCEPTANCE CRITERIA

1. Review all resources to decide what resource-specific fields to include in their respective C7N reports.

[2019-08-13 21:21] yayitserica commented on #3864
### ACCEPTANCE CRITERIA

1. Ensure that no tests have custom values - should all pull from the Azure base class.

[2019-08-13 21:22] yayitserica commented on #3807
### ACCEPTANCE CRITERIA

1. Filtering doesn't fail if Azure returns an error.

[2019-08-13 21:23] yayitserica commented on #4162
### ACCEPTANCE CRITERIA

1. Fail Azure functions provisioning if subscribe events are different from the policy resource.

[2019-08-13 21:42] jomalsan opened #4597 "Azure - resourcegroup - Cost reporting"
The cost filter on Azure Resource Groups is returning different groups depending on the time filter in an unexpected manner. If a resource group meets the cost threshold for "WeekToDate", I would also expected it to be returned in "MonthToDate" and "TheLastMonth" as it is in the Azure Portal.

Example of resources returned by week to date:
[code]

Return:
[code]

Example using "TheLastMonth":
[cod

[2019-08-13 21:47] jomalsan commented on #4481
I would be happy to

[2019-08-13 22:00] kapilt commented on #4393
There is some ambiguity on what this means, depending on different usage perspectives, it can mean not provisioning in a target account/subscription in a leaf deployment strategy, or it can mean not executing on a subscription/account event in a acentralized deploy setup

[2019-08-13 22:24] kapilt commented on #4593
Thanks for tracking this down.

[2019-08-13 22:45] jomalsan commented on #4212
I am working on this issue

[2019-08-13 23:18] #4438 closed

[2019-08-14 03:15] RazaHasan84 commented on #4591
thanks @kapilt for quick turn around. So I was trying to test something similar to following unused RDS instances. With RDS schema there is filter type metrics which query "DatabaseConnections" for 14 days.
https://cloudcustodian.io/docs/aws/examples/rdsdeleteunused.html

With VPN I was trying to capture "TunnelDataIn" and "TunnelDataOut" for last 14 days and it is below certain lowpass value that

[2019-08-14 12:12] aliciasteen opened #4600 "AWS check if IAM instance profile has policy"
I am working on attached a specific policy to all IAM instance profiles that do not have it but cannot work it out.

With the iam-role resource you can filter on no-specific-managed-policy but this is not an option on the iam-profile resource. Is there a way you can pass a list of iam-profile role-ids as a filter to the iam-role resource?

My preferred implementation would look something like this

[2019-08-14 16:06] #4212 closed

[2019-08-14 16:26] FireballDWF commented on #2545
Just adding another justification / use case, as enabling termination protection is step 2 in the IR workflow recommended on page 39 of https://d1.awsstatic.com/whitepapers/aws_security_incident_response.pdf

[2019-08-14 16:44] jomalsan commented on #4377
I will fix these docs

[2019-08-14 21:37] FireballDWF opened #4603 "detach-instance from ASG action on ec2 resource action"
new action detach-instance which given an ec2 resource, calls the autoscale api detach_instances (getting AutoScalingGroupName from the resources tag)

Support IR workflow such as step 4 on page 39 of https://d1.awsstatic.com/whitepapers/aws_security_incident_response.pdf

[2019-08-15 00:50] jomalsan opened #4605 "Docs - Policies Schema"
Looking for a top level documentation page that describes all of the available inputs to a policies yaml file. From looking through examples I have found "name", "description", "modes", "filters" and "actions", but do not know if this is a complete list

[2019-08-15 02:18] erwelch opened #4606 "azure - can not provide only 'count' on resize-plan action for app service plan"
Current:
Policy fails if only providing count for resize:
[code]

Expected:
Policy passes and can resize with only count field.

[2019-08-15 13:44] martinklie opened #4608 "Function Name for AWS S3 filters"
In working with the below we are trying to filter for an S3 bucket that accepts http and update the policy.  Is there a list of S3 filter types we can review for options.  Thanks in advance

policies:
  - name: s3-https
    resource: s3
    description: s3 buckets without encryption required
    filters:
      - type: no-encryption-statement
    actions:
      - type: set-statements
        statem

[2019-08-15 14:10] kapilt commented on #4608
the docs have references on available resources, filters, and actions
https://cloudcustodian.io/docs/aws/resources/s3.html

this help is also builtin into the command line, ie.
`custodian schema aws.s3.filters`

`custodian schema aws.s3.filters.is-log-target`

[2019-08-15 14:42] #4608 closed

[2019-08-15 16:39] jomalsan commented on #4549
I am working on this task

[2019-08-15 17:05] #4556 closed

[2019-08-15 17:35] yayitserica commented on #4442
@aluong please add to Azure project

[2019-08-15 22:01] #4549 closed

[2019-08-16 00:43] FireballDWF opened #4612 "check-permissions filter fails to match if Resource in IAM policy is anything other than "*""
When a ec2 resource policy includes the fillter:
[code]
it will fail to match if the Resource in the relevant IAM policy is anything other than "*", such as
[code]

[2019-08-16 13:00] kapilt commented on #4612
thats per the documentation for simulate policy api, what are you suggesting?

[2019-08-16 13:05] kapilt commented on #4603
more importantly from that same list, deregister-from-elb.. which ideally is also encapsulated in the detach-instance action. i'd prefer its associated to the asg detach else we'd have to enumerate  load balancers.

[2019-08-16 13:08] kapilt commented on #4605
at the moment its

`vars` and `policies` as top level keys in the file. for policies, its

 - name
 - title
 - description
 - tags
 - mode
 - filters
 - resource
 - actions

tags is used for policy organizational purposes and filtering.

given this information is generic, destination for this should be one of the top level / provider independent tutorials/glossaries.

[2019-08-16 14:09] #4362 closed

[2019-08-16 15:27] martinklie opened #4613 "Reverse filter results S3 resource"
Is there a way to reverse filtered results.  We have the below sharing all buckets with a bucket policy Sid of DenyHttpAny.  What we are looking for is the opposite.  All buckets that do not have the named policy.

policies:
  - name: s3name
    resource: s3
    description: s3 buckets without encryption required
    filters:
      - type: has-statement
        statement_ids:
          - DenyHttpA

[2019-08-16 15:32] #4539 closed

[2019-08-16 15:35] stefangordon opened #4614 "azure - extend firewall action sql"
The firewall *action* is in place on the Storage resource and the Cosmos resource.

Exit Criteria:
- Action is available for SQL firewalls.

[2019-08-16 16:22] FireballDWF commented on #4612
Ok, I understand the limitation in the api.  I was looking for check-permissions to tell me if there was any allow for that action regardless of resource arns in the policy, but the simulate-principal-policy doesn't answer such a question.  So I'll modify the request to ask that check-permissions be enhanced to support passing a list of arns, passing them in the api's resource-arns parameter.  Thi

[2019-08-16 16:56] stefangordon commented on #4376
Looks like a workaround was recommended in the upstream bug and they don't plan any additional fixes for now, so we should just compare the workaround to our existing code and update.

Don't think we are blocked at this time.

[2019-08-16 18:23] kapilt commented on #4612
okay so grow a resource-arns: attribute here for passthrough. i think we want some behavior validation, as i suspect that this is a literal string match as opposed to useful evaluation, ie wildcard in arn vs individual bucket resource (or even worse say path in bucket). ie. the actual api here needs improvements for more scenarios to be useful (not sure it handles permission boundaries, org scp, e

[2019-08-16 18:25] kapilt commented on #4613
we have generic boolean blocks that support nesting ie.

[code]

[2019-08-16 18:27] kapilt commented on #4600
its better to use check-permissions to see if an ec2 has a given permission regardless of policy, the policy granting the given permission will be annotated onto the resource.

[2019-08-16 18:27] kapilt commented on #4600
https://cloudcustodian.io/docs/aws/resources/aws-common-filters.html#aws-common-filters-check-permissions

[2019-08-16 18:32] kapilt commented on #4591
so what would be helpful is to understand what you have to pass on the cli to get metrics, ie. does it work to just pass in VpnId ?

from
https://docs.aws.amazon.com/vpn/latest/s2svpn/monitoring-cloudwatch-vpn.html

it shows two dimensions, VpnId and TunnelIpAddress .. if we just need the VpnId then its straightforward to add. If we also need TunnelIpAddress then we need to know how to extract tha

[2019-08-16 18:34] kapilt commented on #4574
this seems odd, c7n-org doesn't really interpret this value its a passthrough, though in some cases this will always go to the target account (ie. if using profile or multiple role assumes to access the target) with a master host in the url, the namespace shouldn't be affected though. needs some investigating.

[2019-08-16 19:22] jomalsan commented on #4548
I will fix this

[2019-08-16 19:27] jomalsan commented on #4548
Successfully reproduced the error trying the example:
`azure.mgmt.monitor.v2018_01_01.models._models_py3.ErrorResponseException: Metric: dtu_consumption_percent does not accept zero dimension case`

[2019-08-16 19:57] #4613 closed

[2019-08-16 20:06] logachev opened #4617 "azure - ensure Event Grid mode works properly with child resources"
We have ARM and not ARM child resources.

It looks like non-arm child resources now won't work with event triggered mode at all.

ARM resources work differently as if we run it in Pull mode (different API is used, no `c7n:parent-id` property)

[2019-08-16 20:08] stefangordon commented on #4605
Yeah mode and specifically `execution-mode` I have found to be one that people really struggle to track down, and tbh it is one of the most critical things.     We kind of hide some of that inside Lambda and Functions specific docs.

[2019-08-16 20:17] #4548 closed

[2019-08-16 20:19] stefangordon opened #4618 "azure - sql server metrics filter"
Today metrics at the server level require a filter like this:

- type: metric
            metric: dtu_consumption_percent
            aggregation: average
            op: lt
            threshold: 10
            timeframe: 24
            filter:  "DatabaseResourceId eq '*'"

I suspect that filter should not be required.... Maybe it should happen automatically for the server level metrics query som

[2019-08-16 21:11] logachev opened #4619 "azure - custodian report doesn't work with cosmosdb-collection"
[code]

[2019-08-16 21:44] #4390 closed

[2019-08-18 04:43] #4497 closed

[2019-08-18 04:44] #3450 closed

[2019-08-18 05:31] FireballDWF opened #4621 "aws event mode should support more event selectivity options"
The hub-finding mode should support additional filtering within the generated CWE event by enabling filtering on ~~edited~~ see comments from me on 9/7/2019

The current behavior is that every custodian policy based on hub-finding mode gets invoked for every finding event securityhub generates, which is not an efficient use of resources when often the policy's purpose is targeted to a specific res

[2019-08-18 17:03] kapilt commented on #4621
generalizing, this isn't really particular to hub finding mode, and its not jmespath key filtering. its cwe event pattern language.

of course the event and resources can be filtered at the policy, at the additional cost of a lambda execution, which is generally considered negligible. if you have math that shows otherwise i'd be interested.

the issue is that security hub doesn't really support th

[2019-08-18 20:52] FireballDWF commented on #4621
i was wrong to say jmes key filtering,!instead what i mean is to support
additional cwe event pattern filtering by allowing the policy writer to
specify he pattern for cushion to insert into the pattern it generates.
Make sense now?

On Sun, Aug 18, 2019 at 10:03 AM Kapil Thangavelu <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-08-19 06:27] FireballDWF opened #4623 "waf-regional tagging support"
resourcegrouptagging API does not support support tagging this resource, PFR entered.

resource specific boto3 api does - https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/waf-regional.html#WAFRegional.Client.tag_resource

[2019-08-19 06:38] FireballDWF opened #4624 "firewall manger GetComplianceDetail support"
First priority would be ability to do value filters on https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/fms.html#FMS.Client.get_compliance_detail

2nd would be to be able to perform action put-policy - https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/fms.html#FMS.Client.put_policy

[2019-08-19 06:45] FireballDWF opened #4625 "API gateway for tag compliance use cases"
resourcegrouptagging api supports api-gateway, so it should be easy to support this resource type for tag compliance use cases.

[2019-08-19 14:37] kapilt commented on #4624
firewall manager is just a user abstraction over top of config, organizations, waf, shield. custodian directly supports the lower level foundations, so its unclear what value supporting fms providers. ie if you've already asserted/enforced via custodian policy that waf and shield are enabled for endpoints, fms provides what exactly?

[2019-08-19 15:34] FireballDWF opened #4626 "aws.comprehend resource support for tag compliance use cases"
comprehend is supported by the resourcegroupstagging api.

[2019-08-19 16:58] aluong opened #4628 "azure - investigate new Azure SDKs - kv, storage, cosmos, eh"
We should investigate what type of impact / pros / cons switching to these new SDK. We can file new items for doing the transition one by one in the future.

- https://azure.microsoft.com/en-us/blog/previewing-azure-sdks-following-new-azure-sdk-api-standards/
- https://azure.github.io/azure-sdk/posts/python-preview1/

[2019-08-19 17:51] jomalsan commented on #4619
I will work on this

[2019-08-19 18:54] kapilt commented on #4605
an anatomy bit would be useful, another useful bit would be having better reference doc rendering around modes, at the moment we capture schema but not doc strings. it would be nice if we could render them akin to what we do for filters/actions/resources.

also my enumeration also left of a couple of bits like max-resources and start/stop/region (conditions).

[2019-08-19 19:15] jomalsan commented on #4619
Was able to reproduce the error

[2019-08-19 19:19] jomalsan commented on #4619
Was able to reproduce the error by running:
[code]

With cosmosdb.yaml looking like:
[code]

[2019-08-19 19:47] aluong opened #4629 "azure - value filter - add support for storage blob using value_from option"
Currently, we have support for using a `value_from` option targeting a URL or an S3 bucket. Let's add support for Azure Blob Store.

### Acceptance Criteria
We can use azure blob as a source to fetch data from for value filters.
ex:
[code]

[2019-08-19 20:52] #4377 closed

[2019-08-19 21:41] yayitserica commented on #4628
Duplicate of #4418.  Closing #4418

[2019-08-19 21:41] yayitserica commented on #4418
Duplicate of #4628, closing this issue

[2019-08-19 21:41] #4418 closed

[2019-08-19 21:43] yayitserica commented on #4628
@stefangordon  and @aluong is this related to #4414 ?

[2019-08-19 21:46] stefangordon commented on #4628
I think both are good to keep.  On #4414 I have already investigated and the work is pretty tactical (ready to do now).  This one is for some of the SDK's that are still in preview and is more about researching if we should switch.

[2019-08-19 21:54] yayitserica commented on #3860
### ACCEPTANCE CRITERIA

1.  Azure Pipeline Cache implement per docs [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops).
2. Tests written and passing.
3. Documentation updated and tested for usability.

[2019-08-19 21:54] jomalsan commented on #4619
Same error occurs when trying to report for Cosmos DB Databases and Key Vault Keys. They all share a common inheritance of `ChildTypeInfo` in `tools/c7n_azure/c7n_azure/query.py`.

No other classes directly inherit from `ChildTypeInfo`, only reference the field `parent_key` on it.

[2019-08-19 22:49] logachev opened #4631 "azure - rename keyvault-keys to keyvault-key"
Plural form is not used anywhere else, so we should rename the resource.

There might be a notion of 'aliases' for resources, we should utilize it if available to avoid double registration and breaking changes.

[2019-08-19 23:32] yayitserica commented on #2273
@logachev , can you add this to the "Blocked" column of our backlog?

[2019-08-19 23:56] stefangordon commented on #2273
Well I think we might be blocked from auto-configuring a function until UAI (I think it is just becoming available also though) - but this item was mostly about the policy being able to describe its required permissions.  Automation the creation of a principal with the right ACL's based on that could be a separate issue.

I suppose we need to figure out if there is actually anything useful here th

[2019-08-20 00:01] kapilt commented on #2273
its definitely useful to know what permissions a policy needs, its the basis for testing those permissions pre-execution, and formulating a union to assist in principal rbac setup. its also useful to start surfacing in the docs. in some cases a given action/filter permission depends on configuration (ie not always static metadata). its not per se about creating the service principal but the bindin

[2019-08-20 00:06] stefangordon commented on #3860
I should have updated this a while ago, so first attempt was #4451

We are currently waiting on this:
https://github.com/microsoft/azure-pipelines-tasks/issues/11013

and this:
https://github.com/microsoft/azure-pipelines-tasks/issues/11045

We'll revisit next month and see if they have made some progress on this thing.

[2019-08-20 00:18] justinhauer commented on #2273
Correct me if I'm misinterpreting the specific value this adds but depending on how an organization structures their Azure account(s) - I could see an owner of subscription "X" wanting to implement their own policies that are different than the owner subscription "Y" which are different than what a central cloud team wants to implement across all environments in an organization. I don't have an im

[2019-08-20 04:13] aluong commented on #4573
@jainankurp are you seeing this error when you are creating the [Outlook Email Action](https://cloudcustodian.io/docs/azure/examples/logicappnotifications/logicappnotification.html#create-the-outlook-send-email-action)? Or is this error happening when you are invoking the Logic App?

[2019-08-20 06:14] FireballDWF commented on #4624
Cost allocation.  While Shield Advanced covers the monthly fee, customers who don't pay for Advanced pay a $100 monthly fee per policy per region (https://aws.amazon.com/firewall-manager/pricing/).  While client's accounting can be told to allocate all costs for the service to a fixed budget code, by supporting enforcement of tags, one less exception for them...  However, agree on low priority com

[2019-08-20 10:56] gklontza opened #4636 "Question: AWS cross account execution in cloud trail mode"
Hi

I'm trying to set up cloud custodian in a tools account and execute policies in multiple accounts and regions. The idea is to set up an ECS cluster, either Fargate or EC2 in the tools account and execute lambdas in real time in other accounts (dev, staging, etc)

The only mode supported for this is periodic. Are there any plans to support cloud trail mode?
We need real time remediation and wit

[2019-08-20 13:02] stefangordon commented on #4629
Agree this would be really useful.

I think the dedicated firewall filters are still preferable for IP addresses specifically since value filter doesn't have all the `netaddr` functionality in for dealing with IP space (reconciling CIDR format and range format, etc), but I think the requests for that were largely mitigated with the service tag alias support.

[2019-08-20 13:14] #4394 closed

[2019-08-20 13:16] stefangordon commented on #4370
Hey @aluong is this still valid/pending?

[2019-08-20 13:27] stefangordon commented on #4358
For ARM deploys this is the `message` field if the error is of type `CloudError`.  Likely need to update the error handler to include it

[code]

[2019-08-20 14:55] #4137 closed

[2019-08-20 15:02] stefangordon commented on #2273
It seems like the most value comes when you can aggregate the required permissions across a set of policies to figure out the total required ACL surface for your principal.   Does this concept exist today @kapilt?

Feels like a good starting point here is just getting these included in the resource types and actions.  Functional testing to validate those might be a little tricky though.  @logachev

[2019-08-20 15:09] stefangordon commented on #3140
I think this was fixed in #4584

[2019-08-20 15:09] #3140 closed

[2019-08-20 15:18] #4450 closed

[2019-08-20 15:19] stefangordon commented on #4476
The resource is here now, but it isn't returning the instance view.  We need to research how to get the data on the instances.  Do we need a value filter subclass or something?

[2019-08-20 15:21] stefangordon commented on #4502
The issue to adding proxy support is still pending, but I think this issue may be resolved?  Closing and will reopen if needed.

[2019-08-20 15:21] #4502 closed

[2019-08-20 15:41] #4577 closed

[2019-08-20 16:50] kapilt commented on #4636
both setups are supported for cloud trail mode (centralized and per account), their both fairly straightforward to setup, ie just executing the cli per account handles the per account setup and allows for fine grained mapping of account policies. for centralized setups, you have to setup out of band event bus forwarding on cloud watch events, and then set `member-role` in the policy mode to an Arn

[2019-08-20 16:50] #4636 closed

[2019-08-20 16:59] jomalsan commented on #4340
@stefangordon do you want the default report fields for just the `ArmTypeInfo` objects to have the `type` field? A few resources (Cosmos DB) override the default report fields after inheriting from `ArmTypeInfo` so will need to be updated as well to include the `type` field if we want all Arm Resources to have it

[2019-08-20 18:55] wesyao opened #4640 "docs - azure event authentication is confusing to new users"
New users have tried to use event azure cli permissions for the azure function to run its policies. It also talks about how environment variables for an rbac enabled service principal are optional.

[Azure Event Permissions](https://cloudcustodian.io/docs/azure/configuration/functionshosting.html#advanced-authentication-options)

[2019-08-20 19:59] orlando-jamie opened #4641 "VPC set-flow-log PolicyValidationError When Sending to S3"
Trying to run the following policy to configure VPC flow logs across all VPCs to the same bucket. However, it fails with

c7n.exceptions.PolicyValidationError: DeliverLogsPermissionArn required when creating flow-logs on ....

However, according to the awscli documentation, DeliverLogsPermissionArn is not to be set when delivering to S3. Seems that it is a bug for c7n to fail the validation here.

[2019-08-21 15:54] PratMis commented on #4641
Thanks for reporting! Looks like there are some changes in the AWS API behavior on mandatory and optional attributes: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.create_flow_logs
I'll put out a PR shortly.

[2019-08-21 16:03] yayitserica opened #4643 "Azure - Set EnableHttpsTrafficOnly to True on accounts where it is missing"
### ACCEPTANCE CRITERIA

1. `EnableHttpsTrafficOnly` is set to True on any storage accounts where it is missing across subscriptions.

FYI @stefangordon

[2019-08-21 16:26] stefangordon commented on #3860
Seems like https://github.com/microsoft/azure-pipelines-tasks/issues/11013 is fixed.

[2019-08-21 17:44] #4578 closed

[2019-08-21 19:46] stefangordon opened #4644 "azure - eliminate instance level logging"
We have many instances of doing `self.log` in `__init__`.

We should either do this at class level if needed, or just do it in the resource module level.

[2019-08-22 00:42] #4504 closed

[2019-08-22 00:42] #4505 closed

[2019-08-22 00:42] #4553 closed

[2019-08-22 00:58] #4391 closed

[2019-08-22 05:15] jomalsan opened #4651 "azure - doc- container host"
The documentation for [Azure Container Hosting](https://cloudcustodian.io/docs/azure/configuration/containerhosting.html) does not mention the prerequisites and steps needed to be able to run the deployment step successfully. I had to do the following before deploying:

- Need an azure storage account of type General Purpose v2 (I tried Blob Storage and it failed)
- Need a cluster that is attached

[2019-08-22 05:43] aluong commented on #4370
This is fixed with #4411

[2019-08-22 05:43] #4370 closed

[2019-08-22 07:30] #4312 closed

[2019-08-22 12:53] slobodyanyuk opened #4653 "c7n_mailer's Slack Delivery expects JSON response from Slack webhook"
c7n_mailer's Slack Delivery expects JSON response from Slack webhook API, while response is plaintext according to the documentation https://api.slack.com/incoming-webhooks#handling-errors.

`Traceback (most recent call last):
  File "/var/task/c7n_mailer/sqs_queue_processor.py", line 185, in process_sqs_message
    slack_delivery.slack_handler(sqs_message, slack_messages)
  File "/var/task/c7n_ma

[2019-08-22 13:01] slobodyanyuk commented on #4653
https://github.com/cloud-custodian/cloud-custodian/pull/4654

[2019-08-22 14:25] kapilt commented on #4653
this is already addressed in the trunk version of mailer.

[2019-08-22 14:53] anthonybgale opened #4655 "Lambda mode - region:all causes function to exit without error - "Skipping policy:{policy} target-region:all current-region:us-east-1""
Given a policy containing `region: all` in its definition, running in Lambda mode,  https://github.com/cloud-custodian/cloud-custodian/blob/master/c7n/policy.py#L323 self.policy.region evaluates to 'all' and the policy is skipped.

[2019-08-22 16:28] axis7818 commented on #4651
The Container Host will create this queue if it does not exist, so it shouldn't be necessary.

Additionally, the service principal (or managed identity in the case of ACI) will need the following roles:

* Storage Blob Data Contributor (On the policy container's storage account)
* Storage Queue Message Processor (On the queue's storage account)
* Reader (On the storage account)
* Whatever roles ar

[2019-08-22 16:38] #4383 closed

[2019-08-22 16:44] yayitserica commented on #4640
### ACCEPTANCE CRITERIA

1. Documentation clearly states that a service principal needs to be set in environment variables and that it is NOT optional [yellow to be fixed]
![image](https://user-images.githubusercontent.com/15487798/63533260-419c3800-c4c1-11e9-8918-8cf1db72c281.png)

FYI @wsf11 @wesyao

[2019-08-22 17:12] kapilt commented on #4655
interesting, I'm a little unclear on why a policy would have region: all. policy specified regions are used to limit regions, ie the default without specifying region on a policy is all. its the cli execution that determines active regions, the policy spec just serves to filter those.

[2019-08-22 17:32] anthonybgale commented on #4655
My mistake. I'm not sure where I got the idea that all was a valid region. I wonder if it is useful to allow this to be explicitly specified.

[2019-08-22 21:02] yufuluo opened #4659 "S3 set-bucket-encryption policy sends to many requests"
Does anyone notice their set-bucket-encryption running very slow and eats lots of memory?

We run the s3 set-bucket-encryption policy in some AWS regions that only have serval buckets, yet the botocore log shows it sends tens of thousands of API requests and approximately 1/10 are assume-role requests.

The policy template:
`policies:
  - name: s3-enable-default-encryption-aes256
    resource: s3

[2019-08-22 21:15] kapilt commented on #4655
we do allow --region=all on the cli for c7n and c7n-org, and its not prohibited by the policy json schema so its understandable getting there, isn't meaningful to do per se. I don't think we have compatibility constraints here since it doesn't putting in `all` value here. there's some discussion separately on refactoring policy execution conditions to allow richer definitions. we are currently ret

[2019-08-22 22:53] stefangordon opened #4661 "cask - refine image pull error behavior"
Repro
1. run cask, let it write a marker file about its last image pull
2. manually delete the image
3. run again
4. ImageNotFoundError

We can easily check `client.isImageNotFoundError(err)` when the container create fails and clean up the marker file, but then the user has to run a second time to get the image to download again.

Lets first examine if we can inexpensively check for the image dur

[2019-08-22 23:37] #4347 closed

[2019-08-23 03:41] FireballDWF opened #4662 "kms filters and error handling"
1. Add a custodian supplied/helper filter that is the equivalent of:
    - type: value
      key: "KeyManager"
      value: "CUSTOMER"
2. When custodian is executing a policy which attempt to tag a key where "KeyManager" = "AWS", provide a graceful error indicating that is not allowed.  AWS replies "AccessDenied", but it may confuse people until they understand that attempting to Tag keys they are

[2019-08-23 14:55] PMitrafanau opened #4665 "gcp - usage of gcp-periodic mode in a region other than us-central1"
Steps to reproduce:
1. Deploy the following policy:
[code]
2. If you don't want to wait, follow to the Cloud Scheduler tab and press Run now
3. Failed

Reason: the deployed Cloud Scheduler job expects the function to be in the specified region (defaults to us-central1 if none). The function is always deployed to the us-central1 (hardcoded)

Fix: #4664

[2019-08-23 17:27] jamessn opened #4667 "c7n-org run-script returns zero return code with failed run"
![Screen Shot 2019-08-23 at 10 20 05 AM](https://user-images.githubusercontent.com/50670323/63611128-087ec900-c590-11e9-9291-02951c6a60d7.png)
![Screen Shot 2019-08-23 at 10 19 45 AM](https://user-images.githubusercontent.com/50670323/63611147-16344e80-c590-11e9-9d3a-775f1a558af0.png)

I'm using a c7n-org run-script command to run a python script inside a jenkins job. I've attached screenshots of

[2019-08-23 18:48] jomalsan opened #4668 "Azure - Tag - Create Information"
User should be able to specify an action that adds a tag for both creator email address and the created date

[2019-08-23 18:58] jomalsan opened #4669 "azure - event subscription - can only handle 5 events"
Only allowed to specify 5 filters on an Azure Event Grid Subscription. Bug found in the Functions hosting, but this is applicable to Container Hosting where all of the registered event-based policies register with the same event grid subscription.

Message recieved when executing the following policy:
[code]

Policy for reproducing the error:
[code]
@stefangordon

[2019-08-23 20:22] jomalsan opened #4670 "azure - event subscription - ResourceGroupWrite event"
Event grid function fails when responding to a new resource group being created

Policy Yaml File:
[code]

The following stack trace showed up in the logs for the function twice
Stack Trace of error:
[code]

[2019-08-23 21:07] axis7818 opened #4671 "Azure - Revisit time zone handling for mark-for-op action and marked-for-op filter"
In some cases, the `marked-for-op` filter can fail with this stack trace:

[code]

Here is an example policy file to replicate this (inspired by [this example](https://cloudcustodian.io/docs/azure/examples/resourcegroupsdelayedoperation-general.html), but with the `hours` field specified):

[code]

Providing the `mark-for-op` time in hours will result in a tag with time zone info populated. When t

[2019-08-23 21:33] kapilt commented on #4545
this Is fixed in trunk and will be in the next release, lambda execution mode policies in c7n-org were returning bad numbers.

[2019-08-24 18:59] stefangordon commented on #3860
Alright and #11045 seems also to be resolved (was a change in key behavior to adapt to).

So this is ready to take a pass at again, with I think new questions around how to actually use it in a useful way.  Will play with it in the coming weeks.

[2019-08-26 01:43] marpada opened #4674 "Tagging offhour on RDS - RDS doesn't support , () ; characters"
Hi,

Following up  #2115 . RDS tags don't support the "(" and ")" characters required to customize the offhours/onhours policy

[code]

Maybe the /\ could be used as aliases for ()  ?

[2019-08-26 12:44] #4655 closed

[2019-08-26 13:29] stefangordon opened #4675 "cask - requires wget on MacOS"
We made our "install one-liner" expect `wget` on MacOS but are finding that isn't installed by default, lets reevaluate if there is a different tool that we can always rely on being there.

[2019-08-26 13:31] stefangordon opened #4676 "azure - app service plan with metrics filter raise exception"
The metrics filter does not appear to work on App Service Plans.

"Operation return an invalid status code 'Not Found'

[code]

[2019-08-26 13:34] stefangordon opened #4677 "azure - ability to reference parent resource group tags"
In Azure it is common to store metadata at the resource group level in tags rather than on each individual item.

- A user may often want to reference these tags in a webhook, logic app, or notify action.
- A user may also want to reference these tags in a value filter.

This may overlap with our `parent filter` in some way, or with the value lookup work that is happening.

Next steps:  A reviewed

[2019-08-26 13:36] stefangordon commented on #4669
For Azure Functions hosting we can update the JSON schema and documentation to catch this at validation.   For container host we'll need to test removing the advanced filter entirely as we do secondary filtering anyway.

[2019-08-26 18:15] axis7818 opened #4679 "Azure - Secret Management for Container Host in Kubernetes"
Currently passed in directly as environment variables for use with a service principal. We need to either pull these from K8s secrets instead, or use an alternative auth mechanism.

MSI is not supported at the pod level, but there are other ways to get similar functionality. https://github.com/Azure/aad-pod-identity

[2019-08-26 18:17] axis7818 opened #4680 "Azure - Mailer support with Container Host helm chart"
Add mailer to the helm chart that deploys container host on kubernetes.

[2019-08-26 23:57] crizstian opened #4682 "S3 bucket delete action, iterating over every region"
I have created the following policy:

[code]

and i am getting the following ERRORS message:
[code]

i am running this policies using the following:

[code]

with the following config for c7n-org

[code]

Buckets created and without the tag compliance are deleted, but still i am getting this Errors in the console, any reason, may i be missing some configuration ?

[2019-08-27 06:19] logachev opened #4683 "azure - KeyVault tests issues"
KeyVault ARM template cannot be properly deployed.

Because of firewall rules, it fails to add keys\secrets etc. A few ways to fix it:

1. Add host IP as an allowed during deployment
2. Create separate KV for firewall tests

Interesting thing: if I change default action from 'deny' to 'allow', tests still pass. There might be some bug with KV firewall filter.

[2019-08-27 06:21] logachev opened #4684 "azure - SQL retention period tests fail"
A lot of SQL retention policy tests fail with a fresh deployment.. Need to investigate why.

[2019-08-27 06:23] logachev opened #4685 "azure - unable to deploy AppService plans multiple times"
Sometimes deployment works fine, sometimes it fails with this:

[code]

[2019-08-27 06:26] logachev opened #4686 "azure - storage firewall actions has some failures"
test_storage_firewall_actions.py has some failures with fresh deployment

[2019-08-27 06:27] logachev opened #4687 "azure - policy assignment tests fail"
[code]

[2019-08-27 06:49] Abhi-dg opened #4689 "aws-invalid token issue."
I tried creating a policy.yml file , its gets validated but when i try to go for dryrun or running the policy by using the command  " custodian run --dryrun -s . policy-example.yml" , it throws an error that  " ClientError: An error occurred (InvalidClientTokenId) when calling the DescribeDBSnapshots operation: The security token included in the request is invalid."

I configured aws credentials l

[2019-08-27 14:55] Loxabe-IT opened #4692 "c7n-org notify action issue"
Hi, I am getting an output from cloudwatch which I don't understand.
thing is that I am trying to push lambda in sub-accounts to check if tags are missing and send sqs from main account.

Here is the output from cloudwatch:

``[DEBUG]	2019-08-27T14:43:40.758Z	da543756-c889-4266-af8a-9e3a83f76272	metric:ResourceCount Count:1 policy:ec2-auto-tag-user restype:ec2 scope:policy"
[INFO]	2019-08-27T14:43

[2019-08-27 16:28] jtroberts83 opened #4693 "Feature Request - Add Tagging Support For storage-gateway Resource"
@kapilt  Tagging is now supported with Storage Gateway service so requesting the global tagging support be pulled into it.  Thanks!

[2019-08-28 06:14] FireballDWF opened #4697 "add-group action on iam-user resource"
Enable the use case of Incident Response is to add the iam-user to a group, where that group has a restrictive set of explicit deny policies to contain what the iam-user can do

[2019-08-28 09:55] #4689 closed

[2019-08-28 09:55] Abhi-dg commented on #4689
I got it what i was doing wrong.

[2019-08-28 16:32] FireballDWF opened #4700 "inspector-assessment-target resource support"
Use case: Tag Compliance for Cost Allocation enforcement

[2019-08-28 19:25] FireballDWF opened #4702 "Enhance the bucket-encryption filter to check the value of the kms-key's tag value"
Use case: Find resources where the kms key specified has a tag value not equal to the required (Data Classification) value tagged for the bucket.

Change: Enhance the bucket-encryption filter to check the value of the kms-key's tag value.

Example policy:
[code]

[2019-08-28 20:16] #4679 closed, assigned to axis7818

[2019-08-28 22:35] jomalsan opened #4705 "Azure - Tests - Provision.sh display help with no options"
For `tools/c7n_azure/tests/templates/provision.sh` I expected that the default behavior with no arguments would be displaying a help menu. Turns out it deploys all of the arm templates to your current subscription.

Feature request to add a help menu as a default behavior and then include a flag such as `--all` to deploy all of the templates

[2019-08-29 02:12] FireballDWF commented on #4662
1. No, this is not about IAM policies.  Even an someone with *:* policy can't Tag a key when that key's property of "KeyManager"="AWS".
2.  I am proposing an additional filter be adding the kms-key resource, where the filter perform the equivilent of the following generic filter:
[code]

[2019-08-29 16:16] stefangordon commented on #4705
Yeah the default usage is just `provision.sh` and `cleanup.sh` but I could see an `all` option being good.  Would break anyone depending on it, but I suspect that is mostly just our functional test pipeline.

[2019-08-29 17:46] stefangordon commented on #3311
Todo:
1) Add HD Insight core resource support
2) Extend resize action to support HD Insight

[2019-08-29 18:39] jomalsan commented on #4669
I have a fix for this on a branch in my fork, however it is going to have a bunch of merge conflicts with PR #4695. Will wait for that PR to get merged, resolve the merge conflicts and then create a PR for the first part of this issue. I will create a new issue now

[2019-08-29 18:41] jomalsan opened #4709 "Azure - event subscription - Increase limit to 25 events"
This issue is spawned from issue #4669

Specifically the comment by @aluong

[2019-08-29 18:51] jomalsan commented on #4401
@stefangordon If no one else is working on this I will do it

[2019-08-29 19:03] stefangordon commented on #4401
@jomalsan sure! I believe the Virtual Machine InstanceViewFilter is a similar idea to the subclassed value filter we are talking about here, except it is able to use the SDK to make the call and I'm not sure there is an SDK for this one, it may just be Requests with the auth token (we do this for functions deployment elsewhere).

[2019-08-30 16:48] wsf11 commented on #3311
I'll take this

[2019-08-30 16:53] logachev opened #4713 "azure - refactor filters.py"
Let's break this giant file in a same way we did actions

[2019-08-30 17:31] #3339 closed

[2019-08-30 21:30] #4676 closed

[2019-08-30 21:33] jomalsan opened #4714 "Azure - Cosmos - Filter for storage accounts with no databases"
Currently there is no way to filter on CosmosDb accounts that do not have any databases or containers in them. We should add a filter that returns empty Cosmos DB accounts so that they can be removed

[2019-08-30 23:30] #4552 closed

[2019-09-02 09:55] Loxabe-IT opened #4717 "how to use c7n-org with credential_source = Ec2InstanceMetadata"
I have configured ec2 instance with a role to implement policies in other environments.
The configuration works if we add --profile as an argument but it fails when trying to run with c7n-org.

The output is as below:
c7n_org:ERROR Exception running policy:volume-auto-tag-user account:aws-im-dev region:eu-central-1 error:Partial credentials found in assume-role, missing: source_profile or credenti

[2019-09-02 12:03] Loxabe-IT commented on #4692
Thank you for the quick reply. The issue was at mail template, now it works as expected

[2019-09-02 12:03] #4692 closed

[2019-09-02 13:29] Loxabe-IT commented on #4717
I found the problem.
credentials should not be configured.

[2019-09-02 13:29] #4717 closed

[2019-09-03 09:36] mo-saeed commented on #200
@kapilt any updates on the grafana dashboard ?

[2019-09-03 09:48] vedantrathore commented on #200
Hello, any update regarding this?

[2019-09-03 16:50] yufuluo commented on #4659
Thank you @kapilt running the policy in a single region does work!

[2019-09-03 17:53] #4399 closed

[2019-09-03 17:57] #4340 closed

[2019-09-03 20:43] kapilt commented on #2909
works out of the box if using python3 with amazonlinux2

[code]

[2019-09-03 20:43] #2909 closed

[2019-09-03 21:23] #4669 closed

[2019-09-03 21:41] stefangordon commented on #4519
This was also raised by a user on Gitter.

[2019-09-03 22:50] #4243 closed

[2019-09-03 22:54] kapilt commented on #3363
all the remaining deprecation warnings are from dependencies, those from our codebase/test themselves have been whittled down, last set of fixes for those are #4719

[2019-09-04 01:22] logachev opened #4721 "azure - NSG documentation & tests needs to be updated"
There is no docs for NSG actions.

Also, NSG tests use policies to test policies.. It needs to be update with current approach of mocking actual SDK calls instead of the action.

[2019-09-04 12:50] sshvetsov commented on #3209
I'm also getting this error when trying to enable 6 brand new accounts with this command:

`c7n-guardian enable -c accounts.yml --master 043375393462 -r ap-southeast-1`

Here's output with --debug option
[code]

[2019-09-04 12:52] sshvetsov opened #4723 "c7n-guardian: Missing required parameter in input: "Enable""
I'm also getting this error when trying to enable 6 brand new accounts with this command:

`c7n-guardian enable -c accounts.yml --master MMMMMMMMMMMM -r ap-southeast-1`

Here's output with --debug option
[code]

Python Version
[code]

Package versions:
[code]

Is this regression of #3209?

[2019-09-04 14:25] justinhauer commented on #4651
is this running as a deployment or a statefulset that is periodically checking blob storage? I was doing this functionality in the past using a cronjob but abandoned it for the function implementation as I thought it'd have more support from the project. Is the plan for Kube support for azure custodian to have a user experience that's on par with functions?

[2019-09-04 16:30] axis7818 commented on #4651
This runs as single pod deployments (each targeting a subscription) that periodically check blob storage for policies to run. StatefulSets were considered, but to target a different sub per pod, each pod needed its own spec with unique environment variables. CronJobs would work for scheduled execution, but Deployments with this container host execution mode allow for a single pod to run a lot of p

[2019-09-04 17:15] #4575 closed

[2019-09-04 17:17] logachev opened #4724 "azure - review arm templates"
Some ARM templates can't be provisioned in 2 subscriptions at the same time due to the unique name requirement. We should identify all broken ARM templates and fix them

`vm.json` is an example of a broken one (due to Public IP name)

[2019-09-04 17:19] stefangordon commented on #4651
Re: plan for support -

@justinhauer we do plan to support both Functions and this Container Host (docker container) model.  The container host model is 1 container (pod in AKS) per subscription and supports the same event based and scheduled executions.  It monitors the storage container for policy changes and automatically loads them every few minutes.

You can run in ACI, AKS or even on-premise

[2019-09-04 17:38] mo-saeed commented on #2420
@kapilt Any updates on that ?

[2019-09-04 18:00] justinhauer commented on #4651
I'll eventually take a crack at it but with the amount of time I have I need to be mindful of re-engineering the same functionality I currently have. ^ This is great though!

[2019-09-04 18:24] #4670 closed

[2019-09-04 19:05] stefangordon opened #4727 "cask - wsl support"
When using docker through WSL (Windows Subsystem for Linux) the binds use Windows paths and not Linux paths - which makes it impossible to use Cask currently.

We can detect that you are in WSL and magically fix the binds, or we can just warn you and point you to docs.

[2019-09-04 19:25] logachev opened #4729 "azure - firewall-rules filter ignores 'default action'"
We need to update `firewall-rules` filter to understand the meaning of `default action` property if available.

E.g. if default action is `Allow` (Firewall turned off), it should be triggered if you request `only` ip rules (because some IPs not from the list are allowed)

[2019-09-04 21:32] #4683 closed

[2019-09-04 21:59] #4519 closed

[2019-09-05 05:27] aluong opened #4734 "azure - app service plan count doesn't scale up plan"
Example:

[code]

This does scale up the plan to B1, but does not scale out to 2 workers.

[2019-09-05 05:41] abhishekFreshworks commented on #4185
Try this, it would work:
   filters:
     - type: value
        key: IpPermissions[].IpProtocol
        value_type: swap
        op: in
        value: tcp

[2019-09-05 11:28] saryx123 opened #4736 "not authorized to perform: lambda:GetFunction - explicit deny"
Hi there, I seem to have a problem with deploying my first custodian control;
s3-deny-public-object-acl-realtime fails with an explicit deny.

error log:
[code]

I've attempted resolving by assigning explicit and resource:* policies, to no effect. I am running as an account administrator (but not root).

The policy i'm trying to apply is (copied it from [here](https://cloudcustodian.io/docs/aws/ex

[2019-09-05 13:17] jpooler-cht commented on #4653
@kapilt  I'm also seeing this error, the c7n-mailer version is the latest one from pip, 0.5.3 (https://pypi.org/project/c7n-mailer/). Is there a scheduled release coming up?

[2019-09-05 15:36] stefangordon opened #4737 "azure - storage container action"
Action to configure Azure Storage Containers
--------------------------------------------------

Following on from #4710 we'd like to have an an action to set container properties, primarily the public access level, but also including anything else useful and reasonable.

This action would be only on the `azure.storage-container` resource.

Acceptance Criteria
----------------------

- [ ] `azure.

[2019-09-05 15:55] ppestinger opened #4738 "Filtering S3 Bucket Policies by Principals.AWS"
I'm trying to create a Cloud Custodian policy that will detect S3 buckets whose policies enable public access. Part of it requires checking for policy statements that have an Allow Effect and a Principal of "*" or {"AWS":"*"}.

To this end, I'm trying using a pair of s3.has-statement filters:

policies:
  - name: s3-public-access
    resource: s3
    filters:
      - or:
        - type: has-statem

[2019-09-05 16:45] #4687 closed

[2019-09-05 16:56] jomalsan commented on #4511
@stefangordon I'm interested in taking a first pass at a proposal for how to implement this, then passing it by the team for a design review

[2019-09-05 17:05] #4644 closed

[2019-09-05 17:14] yayitserica commented on #4530
Duplicate of #3311 [Azure Milestone B]

@stefangordon can you please add this work item [4350] to Azure Milestone B, thanks!

[2019-09-05 17:14] #4530 closed

[2019-09-05 17:20] rlewkowicz opened #4739 "Don't take action on region agnostic items if a region is specified"
S3, IAM etc. If I point it at a region it will still try to delete everything. Idk if thats good or bad, but I think it's unexpected behavior myself

[2019-09-05 18:57] nitrocode opened #4740 "ebs snapshot action broken: 'EC2' object has no attribute 'create_snapshots'"
TLDR: @kapilt  I believe the function `create_snapshots` is missing from boto3 in spite of the docs

error in cloudwatch
[code]

* change was put in on Jun 13 2019 which is after [0.8.43.1 and before 0.8.44.0 release](https://pypi.org/project/c7n/#history) so to fix this we pinned to `0.8.43.1`
* [source currently](https://github.com/cloud-custodian/cloud-custodian/blame/5f12e810344e62b4756bf9d7b9

[2019-09-05 19:25] nitrocode opened #4741 "Request: tag lambda creation with name unless specified"
We use datadog to monitor our lambdas and to monitor individual lambdas we need to be able to monitor them by name and to do that we have to manually tag our custodian lambdas policy names to `Name`.

Would be nice to do this automatically unless we specified a different `Name` under tags.

[2019-09-05 20:17] nitrocode commented on #4032
I see the same issue in 0.5.3, 0.5.2, different error in 0.5.1, and pinning c7n-mailer to 0.5.0 works.

[2019-09-05 23:52] ajmsra commented on #3220
I would be interested in contributing this feature as an additional action type of `add-permissions` would that work @kapilt ?

[2019-09-06 00:34] jomalsan commented on #4511
Proposed solution in #4743

[2019-09-06 00:45] nitrocode commented on #4741
Actually, we found that `functionname` was already within datadog so this isn't needed.

[2019-09-06 00:45] #4741 closed

[2019-09-06 14:52] kapilt commented on #4740
the issue is your probably deploying in lambda and need to include a more recent version of boto3, botocore .. on mode use `packages: [boto3, botocore, urllib3]`

if your doing this via virtualenv install you'll need to just update your boto3 ` pip install -U boto3`

[2019-09-06 14:54] kapilt commented on #4738
use the cross-account filter with everyone_only: true

https://cloudcustodian.io/docs/aws/resources/s3.html#aws-s3-filters-cross-account

[2019-09-06 14:55] kapilt commented on #4739
I'm not sure what your asking, you can pin a policy to only execute in a certain region by specifying for example a `region: us-east-1` in your policy.

[2019-09-06 16:26] PratMis commented on #4736
The profile which you're using to run this custodian policy doesn't seem to have lambda:GetFunction. Custodian hooks up a lambda for all policies which are `type: cloudtrail`. So in order to run those policies, your AWS profile needs to have some permission wrt lambda. GetFunction is one of them

[2019-09-06 16:42] jomalsan opened #4744 "c7n - ValueFilter - add value_type: number"
I am working on a policy that returns a version in the format '1.X' and need to check if the version is less than 1.2. Currently the only `value_type` option for converting to numeric is `integer` which floors all of the version numbers to 1 so that they all pass the filter.

Feature request is for a new value_type option, `number` or `float`, that will support converting strings to floating point

[2019-09-06 18:08] #4697 closed

[2019-09-06 19:06] #4606 closed

[2019-09-06 19:06] #4734 closed

[2019-09-06 19:50] thisisshi commented on #4744
A `semver` value_type could probably work here,

https://github.com/pypa/packaging

[code]

[2019-09-06 21:48] ppestinger commented on #4738
The cross-account filter gets us most of the way there, but now I'm trying to pair it with another filter to narrow it down to S3 bucket policy statements that only have Allow effects on an AWS: * principal.

To give some more detail on my use case, I'm trying to identify only S3 buckets in my organization that allow public access, with this particular policy focusing on access granted through pol

[2019-09-07 00:47] #4401 closed

[2019-09-07 00:49] stefangordon commented on #4744
Yeah it might make sense to just add both a number/float and a semver.

[2019-09-08 03:32] FireballDWF commented on #4621
Example for "detail-type": "Security Hub Findings - Custom Action"

add to the cwe pattern a filter on "actionName" equal to the name of the custom action.  Currently all hub actions deployed by cloud custodian get invoked any time their is a custom action action invoked which had been setup by Cloud Custodian.  Adding just this actionName to the filter will eliminate the other invocations.  I not

[2019-09-08 03:57] FireballDWF commented on #4621
When   "detail-type": "Security Hub Findings - Imported"
my ask is to add the CWE pattern of details.findings[0].ProductFields.resource with value equal to the c7n policies's resource type (ec2, ebs-snapshot, iam-user, etc)

[2019-09-08 06:01] FireballDWF opened #4750 "ungraceful error suspected due to resource type Config does not support currently"
The following policy
[code]
is causing the following error, which I suspect is due to AWS Config not supporting EBS-Snapshots as a resource-type, yet.  Would be nice to get a more graceful error in the meantime.
[code]

[2019-09-08 08:21] saryx123 commented on #4736
Thats not it.

Not only i've been running with account administrative privileges, lambda* on * resources privileges, but i've also assigned explicit and specific resource privilege per that error message -

[code]

I'm not sure how exactly cloudcustodian expects to GetLambda on that lambda if it doesn't exist yet.

[2019-09-09 11:54] mo-saeed commented on #2645
That would help a lot !

[2019-09-09 14:46] rlewkowicz commented on #4739
@kapilt If I pass a flag `--region  eu-west-1` (Which I think is the same as pinning it in a policy) it will still attempt to delete S3 and IAM roles from "from other regions" since s3 and iam are region agnostic.

[2019-09-09 14:55] stefangordon commented on #4515
So we have had the gate disabled but still I can see that codecov is only successful about half the time.

In fact it is still failing some of my builds because the builds timeout trying to upload results:

![image](https://user-images.githubusercontent.com/4087345/64541600-01b5bd00-d2d7-11e9-9c7d-9cd3dd897562.png)

https://dev.azure.com/cloud-custodian/cloud-custodian/_build/results?buildId=4045

[2019-09-09 16:01] stefangordon opened #4751 "azure - monitor / sentinel integration"
Many Azure customers now use Azure Monitor as their primary window into non-compliant resources.  Sentinel is a new component of that https://azure.microsoft.com/en-us/services/azure-sentinel which is the recommended approach for custom alerts now.

We need research/design on how we can expose custodian output here in a nice way.

I believe the approach is basically:

1) Custodian writes to suppor

[2019-09-09 17:33] justinhauer opened #4753 "Azure - Storage Firewall Rules wont deploy"
when deploying the following policy:
[code]

I get the following error:
[code]
I am able to make this go when I change the IP rules section to look like
`ip-rules: ['0.2.3.4/5']` but I also need to remove bypass rules, this breaks it.
- I'm going off the latest build from source earlier today.

[2019-09-09 17:36] wsf11 commented on #4737
I'll look at this

[2019-09-09 18:17] jterlecki opened #4754 "aws.eni copy-related-tag action tags incorrect instance."
The **copy-related-tag** action for **aws.eni** associates the incorrect interface to an instance.

[code]

This is the current setup (2 VPCs)
[code]
The one that gets tagged was tagged **eni-091f**
The one that should get tagged: **eni-0d17**

[2019-09-10 12:47] sigmaris commented on #3383
@kapilt The new check-permissions filter added in https://github.com/cloud-custodian/cloud-custodian/pull/3587 is great, but it is currently limited to only finding permissions on Resource "*", this is because if no resources are passed to the IAM SimulatePrincipalPolicy API-call that it's using, the default is for SimulatePrincipalPolicy to use "*" as the resource. It would be really cool to be a

[2019-09-11 11:15] #4740 closed

[2019-09-11 11:16] kapilt commented on #4750
this should be failing in validation

[2019-09-11 14:25] justinhauer opened #4761 "Azure - Azure fuctions fail to run off source build"
When installing custodian from source and deploying functions, all functions fail to run currently due to a 'knack utility import error':
[code]
Please look into issue

[2019-09-11 14:52] justinhauer commented on #4761
@stefangordon ^

[2019-09-11 15:06] nitrocode commented on #4740
do I need to do this all the time?

[code]

[2019-09-11 16:00] #4641 closed

[2019-09-11 16:06] kapilt commented on #4723
i think its more to missing a release of guardian, its still fixed in git.

[2019-09-11 16:22] justinhauer commented on #4761
Interestingly, if I add `from knack import knack` in session.py, custodian then fails to validate that the azure.resource of the policy is a valid type, it looks like it's just comparing it to AWS resources from the error output.

[2019-09-11 17:33] stefangordon commented on #4761
@logachev is building the fix

[2019-09-11 17:49] jomalsan commented on #4240
@stefangordon I will do this one

[2019-09-11 18:30] #4761 closed, assigned to nobody

[2019-09-11 18:41] kapilt commented on #4662
implicitly filtering aws owned resources in account is really something best left to a policy author, there are typically governance objectives around verifying properties even for things aws has in an account. take a managed eni for example.

[2019-09-11 18:56] logachev commented on #4761
@justinhauer it should be fixed now.

I also added our Azure Function mode test script to the Nightly runs

[2019-09-11 18:58] justinhauer commented on #4761
@logachev thanks for the quick turn around, it is appreciated! Functions are deploying and running successfully now

[2019-09-11 19:16] kapilt commented on #4668
tagging does support using {now}  as value which can be rendered per http://pyformat.info  rules

[2019-09-11 19:33] dwightkjones2 opened #4769 "Attempting to use iam-role and check-permissions to find all roles with * allowed"
I used powershell to compile a list of all of the AWS service Acronyms and would like to use something similar to the policy below to accomplish my goal.  *:* does not work so I will need to list all of the services separately.  If I add more than 10 or so of the services to the actions, I get and error stating,
botocore.exceptions.ClientError: An error occurred (ValidationError) when calling the

[2019-09-11 20:24] #4625 closed

[2019-09-11 20:39] wallabyies opened #4770 "Possible to use value of tag for numeric field?"
I'm attempting to use the value of a tag (hour-tag) as the value for the hours field in mark-for-op:

[code]

This fails validation.    Can you confirm if this is possible?

[2019-09-11 21:20] logachev commented on #4724
fixed in https://github.com/cloud-custodian/cloud-custodian/pull/4742

[2019-09-11 21:20] #4724 closed

[2019-09-11 22:44] jomalsan opened #4771 "azure - function host - missing knack dependency"
When deploying a policy using the function host in azure, the policy fails to run due to an import error for the package `knack`. The package was added to `tools/c7n_azure/c7n_azure/session.py`.

Example Policy:
[code]

Runtime Error:
[code]

[2019-09-11 22:45] jomalsan commented on #4771
I will create a PR to fix this right now

[2019-09-11 22:49] #4771 closed

[2019-09-12 14:08] mo-saeed opened #4772 "config compliance filter supporting wildcards for name matching"
I have problem creating policy for checking config rules compliance, I have automation with CF stackset which creates a config rules with name like that "StackSet-CheckForS3ServerSideEncr-837664hffy3" the last part of the string is just random string generated for each account now i am trying to use this policy but it doesn't work with regex
[code]
Any possible ways of achieving this goal ? I am u

[2019-09-12 14:22] stefangordon opened #4773 "CI - Docker Tagging Proposal"
# Proposed Docker Tagging
With the addition of three new cloud plugins to the repository PR velocity is very high.  To utilize these new clouds customers need access to new images much **more frequently** than manually versioned releases, but with higher stability than master branch.

I'm proposing an achievable first step here which I believe sets us up to keep raising the quality bar on nightly

[2019-09-12 17:49] italiahardik opened #4774 "Custodian-cask: Provide an option to specify docker config file"
Request: Provide an option for a user to specify docker config file and/or honor DOCKER_CONFIG environment variable when using custodian-cask. This can be useful when user is not using default docker config file to pull custom image.

Currently user has an option to specify custom docker image by using CUSTODIAN_IMAGE environment variable but no option to specify docker config file or as an enviro

[2019-09-12 19:17] stefangordon opened #4775 "Azure - Container Host Dynamic Jitter and Execution Window"
We set a bit of schedule jitter on every CRON policy execution, along with a valid execution window (beyond which the run would be skipped).  This is helpful because users tend to lump all policies into buckets ('0 * * * *' being the most common) which has them all running on top of each other, eating up API limits and increasing potential of being underwritten during update actions.

These are co

[2019-09-12 19:44] mo-saeed opened #4776 "S3 public access"
Hey, I am trying to notify on the s3 public access with this policy:
[code]
i have s3 bucket with acl (everyone list and write objects) but the policy doesn't report it, any idea what's wrong ?

[2019-09-13 01:12] stefangordon opened #4779 "azure - consistent action logging"
We need to ensure we have completely consistent logging across all actions with regard to resources we attempt to modify.

Users should be able to do Azure Monitor alerts and Log Analytics queries to easily see resources that were modified by policy executions.

Exceptions are mostly handled by our base Action, but successful modifications are mostly not logged at all.

Let's get a common scheme f

[2019-09-13 10:57] mo-saeed commented on #4776
Was just permission issue, it works !

[2019-09-13 10:57] #4776 closed

[2019-09-15 17:17] FireballDWF opened #4793 "aws.globalaccelerator new resource support"
As the globalaccelerator service enables providing Internet access to ALB's without requiring the VPC to have an IGW (or any other form of internet access), custodian should be enhanced to support this resource for detective controls, and a delete action for responsive controls.

Use Case:
1. As a Security Architect, I want to delete any global accelerators in accounts which should not have direct

[2019-09-16 13:34] gileshinchcliff opened #4795 "allow cloud-custodian --log-group to use arn for cross-region/account logging."
When running c7n with an assume-role/region passed in, it utilises the local region for creating aws log-groups/streams.

This is great default functionality but when managing all regions in 10s of accounts it becomes painful. Would it be possible to pass in an arn for the centralised log-group to avoid having to manage multiple of each.

So rather than: `--log-group=cloud_custodian/<account>/<reg

[2019-09-16 15:06] llange opened #4796 "VPC Security Group filter "used" / "unused" and Launch Templates"
Hello,

While reviewing the code of the UsedSecurityGroup filter and in particular the function [scan_groups](https://github.com/cloud-custodian/cloud-custodian/blob/master/c7n/resources/vpc.py#L699)(), I saw (and that's also in the doc) that existing Launch Configs are scanned for their list of SGs.

I was thinking that Launch Templates, a close cousin of Launch Configs, do also have a list of SG

[2019-09-16 16:01] kapilt commented on #4796
nutshell, maybe..

longer, so its a bit unclear if we should be scanning all launch template versions or launch configs if there not actually used (ie they very well maybe garbage for collection), partly that was done for launch configs out of an abundance of caution. with launch templates, there's also a notion of versioning which increases the total population, its unclear to what extent we woul

[2019-09-16 16:06] PratMis commented on #4603
Assigning to myself, since its still open!

[2019-09-16 17:07] stefangordon commented on #4677
Mailer, webhook and value filter are good candidates to access this data

[2019-09-16 17:31] kapilt commented on #4795
for metrics we support this sort of targeting aggregation setup, we don't at the moment for logs. it seems like a useful addition, its not quite arn targeting because we also support other clouds here, its via url  so perhaps `aws://master/log_group_name?region=us-east-1`. note will likely need to do some work here to separate out all the policies, accounts, regions into separate streams or log gr

[2019-09-16 17:31] kapilt commented on #4793
there's a stalled pull request for this functionality.

[2019-09-16 17:33] kapilt commented on #4774
could you clarify what you mean by docker config file? thats not a commonly used term, except as relates to configuration of the docker daemon itself.

[2019-09-16 17:36] aluong commented on #3311
fixed by #4758
fixed by #4731

[2019-09-16 17:37] #3311 closed

[2019-09-16 17:52] wsf11 commented on #4397
I'll look at this

[2019-09-16 18:35] logachev opened #4797 "c7n - custom location for proxy certificates"
Feedback from https://github.com/cloud-custodian/cloud-custodian/pull/4726

its not new in this pr, but we should probably support a CA bundle env var here, its come up in the past for some enterprise environments where the endpoint is otherwise not valid, some existing common ones that we could reuse REQUESTS_CA_BUNDLE, CURL_CA_BUNDLE, SSL_CERT_FILE

[2019-09-17 10:11] gileshinchcliff commented on #4795
Yeah I saw the logexporter, again it just seemed a bit overkill for our needs. I think I'll probably split this into 2 pieces. Initially cross region, to allow sending all logs to one region within an account (to then be shipped to a central account from whatever mechanism exists).
Good shout on the url, I'll take a look at the metrics aggregation and see if I can replicate the same logic for logs

[2019-09-17 13:33] kapilt commented on #4795
what i'm looking for is a examples of what the stream destination changes to in the presence of these options. ie if you aggregate to one region, does the execution there get a different stream to distinguish by region? same for multi-account aggregation. maybe we need to support user supplied templating for the log group name and stream name.

[2019-09-17 13:43] gileshinchcliff commented on #4795
I guess my view would be that we'd add additional streams per region/account. So the streams would look like:
```region/policyname```
With account it would be:
```account/region/policyname```

That way it would be easy(ish) to search for the right info, alternatively you could add some metadata into the log itself, but that would require json logging which I believe isn't supported yet and only be

[2019-09-17 13:54] kapilt commented on #4795
thanks, that sounds reasonable re example, wrt to json log output, its definitely of interest, there's some open questions wrt to lambda at the moment, since it drops text records into the output stream independent of the application.

[2019-09-17 14:00] kapilt commented on #4739
passing a region on the cli is not the same as specifying it in the policy. specifying a region or set of regions on the cli is used to target regions to operate on (ie execute this set of policies across this set of regions). specifying a region on a policy, means it will only execute if the cli is executing on the same region specified by the policy. ie regardless of cli executing region, the po

[2019-09-17 14:03] kapilt commented on #4773
we discussed this live yesterday, i think the proposal sounds good, we need to work out details on if docker hub building supports current date strings. we also possibly need to figure out a way to cull old images, and to communicate out the behavior change on latest to the broader community.

[2019-09-17 14:03] gileshinchcliff commented on #4795
it would be dependant on this ticket though right? https://github.com/cloud-custodian/cloud-custodian/issues/282

[2019-09-17 14:05] kapilt commented on #4723
this will be resolved with publishing of the new release #4782

[2019-09-17 15:48] ShivaSharm opened #4799 "c7n-mailer unable to send email to resource-owner for iam-user resource."
I am trying to notify respective owners (whose email addresses are added in the Owner Tag) of the IAM Users when their Access Keys have become older than 60 days.

I have used below to notify but that does not seem to work for IAM users. Such policies work fine for other NON IAM resources.

- type: notify
    to:
      - resource-owner

[2019-09-17 23:10] kapilt opened #4803 "docs - schema refs have yaml anchors"
this should be configured on the yaml dump for the docs

[2019-09-17 23:11] kapilt commented on #4803
as an example see schema https://cloudcustodian.io/docs/azure/resources/azure-common-actions.html#azure-common-actions-tag

[2019-09-18 13:57] MrDweebus opened #4807 "EBS Auto-Encrypt Release"
I see that an update was merged for the EBS Auto-Encrypt setting, but there hasn't been a formal release of c7n since a week before the merge. Can we get a new version with this included released?

PR of update: https://github.com/cloud-custodian/cloud-custodian/pull/4337

[2019-09-18 15:47] kapilt commented on #4773
also its worth noting that currently we have per commit images tagged with the git sha for using non current/latest images which in live discussions was identified as a pain point (not being able to deploy previous revisions), so just wanted to note it is possible today.

[2019-09-18 17:28] wsf11 opened #4812 "azure - docs - custodian report"
Currently, there is no documentation around the `custodian report` CLI command. Show examples of using the report feature and different CLI options such as `--format grid` or `--field`

[2019-09-18 19:05] wsf11 opened #4814 "azure - teams notification on nightly builds"
Notify a Microsoft Teams channel the status of the nightly build

[2019-09-18 19:16] axis7818 opened #4815 "Azure - Container Host Nightly Tests"
Similar to the nightly tests for Functions hosting, we should have tests for the deployment of the container host to test the helm chart and ARM template for ACI.

[2019-09-18 21:20] jomalsan commented on #4671
Error is that one instance of TagActionFilter is created for filtering all of the resources. So when one resource has tzinfo, `self.current_date` gets set having time zone information. Then the next resource that does not have timezone information throws the error due to the timezone information mismatch

[2019-09-18 22:34] logachev opened #4818 "c7n-aws - marked-for-op action doesn't handle timezone properly"
Seems like `marked-for-op` filter doesn't handle properly tags with timezone configured..

https://github.com/cloud-custodian/cloud-custodian/blob/master/c7n/tags.py#L340

If first resource had a timezone configured, all following resources (if they don't have tz configured) will use this timezone too because there is no reset

@kapilt

[2019-09-18 22:57] aluong opened #4819 "cask - change default behavior of automatic latest image pulling"
Custodian Cask currently always updates and pulls the latest image. We should make updating an opt-in option and we could provide a subcommand to list images that are available. This will put the decision on the user to pull the latest image.

[2019-09-18 23:09] aluong opened #4820 "azure - add support for Application Insights for Sentry"
This will allow Azure users to leverage Sentry for error detection and monitoring.

[2019-09-18 23:19] aluong opened #4821 "azure - do not execute subsequent actions when a prior one fails"
When an action fails (exception, locked, etc...), we should not proceed to execute the next actions. It can lead to unexpected or bad behavior if we continue to execute the actions. Since the exception is bubbled up, it should log a failure in Custodian.

[2019-09-18 23:21] aluong opened #4822 "azure - add a force option parameter to AzureBaseAction"
In cases where the resources are locked, we end up failing (related #4821). Consequently, if we a property called `force` on our actions, we can unlock the resource and proceed successfully.

[2019-09-18 23:23] aluong opened #4823 "azure - add last executed resources in metadata.json"
In case of failures, it would be helpful to know what was the last resources were acted upon by the policy before it failed.

[2019-09-18 23:56] italiahardik commented on #4774
If user wants to pull a custom image using different credentials instead of using default docker credentials available under $HOME/.docker/config.json. Request is to provide an option for a user to specify config.json file location and if user input is not provided while running custodian-cask then it picks default location $HOME/.docker/config.json

Use-case:
As an example, I have 2 repositories

[2019-09-19 00:47] aluong opened #4825 "azure - support report from blob output"
This should be solved generically, but when we run `custodian report` it should be able to use the data outputted to blob to run the report.

[2019-09-19 00:48] aluong opened #4826 "azure - metric for number of API calls"
Analogously with AWS, we should be able to record the number of API calls as a metric. We need to hook into the [Azure SDK pipeline](https://github.com/Azure/msrest-for-python/wiki/msrest-0.6.0---Pipeline) to record this information.

[2019-09-19 08:39] abhishekFreshworks commented on #3643
Even I'm facing the same issues. It is not even able to extract the specific log group from all the groups. @Shelvey-Kansal can you tell me what steps you actually followed?

[2019-09-19 08:53] abhishekFreshworks opened #4827 "c7n_logexporter serverless implementation not working."
Hi @kapilt ,

**For serverless usage of c7n_logexporter:**
After following the steps as mentioned in https://github.com/cloud-custodian/cloud-custodian/tree/master/tools/c7n_logexporter , below the series of issues that happened:
 1. Error : Runtime.ImportModuleError: Unable to import module 'exporter': No module named 'exporter' : Reason : In the **Makefile** we were removing all the .py files un

[2019-09-19 16:13] aluong opened #4828 "azure - add azure sentinel action"
We can send custom logs to Sentinel by sending data to a Log Analytics Workspace. An example can be found [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api).

For security related policies, this can be a good location to surface and aggregate issues.

[2019-09-19 16:14] wsf11 opened #4829 "azure - custodian report column titles"
When we run `custodian report` the JMESPath expression is used as the column title. We should be able to have an optional naming convention that allows the column name to be set. If it's a complicated JMESPath example, the column title is confusing

[2019-09-19 16:18] aluong commented on #4751
I think we should decouple the Azure Monitor and the Sentinel integration.
Adding a Sentinel action (#4828) is a good idea, because Custodian can be another data source for security issues. Ex: someone is opening up ports in a production NSG. However, other policies for Custodian may not be relevant to be surface here. Ex: cost management or maintenance.

[2019-09-19 16:31] aluong opened #4830 "azure - custom metric for Azure Monitor"
Azure monitor allows us to create custom alerts based on metrics. We can create custom Custodian metrics.

- https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview

- https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-store-custom-rest-api

[2019-09-19 18:14] logachev commented on #4525
Fixed: https://github.com/cloud-custodian/cloud-custodian/pull/4726

[2019-09-19 18:14] #4525 closed

[2019-09-19 19:24] stefangordon opened #4832 "azure - container host logging anomalies"
We were running multiple policies per process, which is mostly supported, however the design of the LogOutput registry uses (global) log handlers which will result in non-thread-safe behavior for log metadata.  You may get duplicate log entries with incorrect metadata.

We'll probably just fix by enabling process pool support in our scheduler since this was on the backlog anyway.

[2019-09-19 20:56] #4680 closed

[2019-09-19 22:24] vtomardb opened #4833 "'AzureFunctionMode' is not defined"
Did a fresh installed of virtual env:

```C02YK28HJGH5:virtualenv varun.tomar$ python3 -m venv custodian_new```

```C02YK28HJGH5:virtualenv varun.tomar$ source custodian_new/bin/activate```

[code]

[code]

same error as reported in: ```https://github.com/cloud-custodian/cloud-custodian/issues/3158```

[2019-09-19 22:30] kapilt commented on #4833
is the c7n-mailer here from the virtualenv? ie `which c7n-mailer` returns a path to the virtualenv?

[2019-09-19 22:30] kapilt commented on #4833
i ask because your not installing c7n-mailer in the above commands

[2019-09-19 22:31] puddleglum1904 opened #4834 "c7n-aws - Issue with filtering out SG rules by multiple CIDR blocks"
I have an check that I am running, that I want to alert me on any security group ingress rules in my AWS account that are over ports 22 or 3389 (SSH/RDP), with the exception of rules that have a source IP/subnet that falls within a list of "approved" CIDR blocks.

Check example A:
[code]

This check works as intended, and sends me an alert with a list of SGs and their associated SSH/RDP ingress ru

[2019-09-19 22:32] puddleglum1904 commented on #4834
Tagging @kapilt, since we were discussing this via gitter.

[2019-09-19 22:33] #4833 closed

[2019-09-19 22:34] vtomardb commented on #4833
Issue with c7n-mailer installed as suggested by kapil

[2019-09-20 00:09] #4803 closed

[2019-09-20 05:30] logachev opened #4836 "c7n-mailer - refactor Queue Processor to avoid code duplication for AWS/Azure"
There are 2 different implementations for Queue Processor, AWS and Azure are separate. We need to refactor it to a single processor & abstract away Queue specific code.

[2019-09-20 05:38] abhishekFreshworks commented on #4827
@kapilt can you please let us know where am I going wrong?

[2019-09-20 15:46] kapilt commented on #4827
4 and 5, the lambda only exists in the destination account, the tool setups cross account streaming destinations for cloud watch log groups using the native features of those groups, ie log groups -> destination -> kinesis -> [optional lambda]

alternatively you can setup to a kinesis firehose destination and send direct to s3/elastic/etc without a  lambda.

[2019-09-20 15:49] kapilt commented on #4827
the lambda usage for log exporter is pretty specialized around vpc to make, its also completely standalone with no dependencies that aren't already present n lambda, so your references 1,2,3 seem like its doing something wrong.. ie the lambda function here is a reformatter for flow logs to preserve compatibility with log group exports and streaming and is self contained to this module https://gith

[2019-09-20 15:51] kapilt commented on #4827
looking back through the readme, it does seem like its misleading about server less usage, so leaving this open till that is updated to clarify intent there.

[2019-09-20 15:57] kapilt commented on #4834
thanks for reporting the issue, traveling for the next few days, but another piece of helpful information would be an sanitized describe output for a security-group that erroneously triggers on example B.

alot of the confusion around ingress filters is that they operate on any permission in a security-group, not per se chained to the permissions that matched the previous one. enabling an option o

[2019-09-20 17:30] jomalsan opened #4837 "azure - container host - multiple executions in an hour overwrites log data in blob"
I am running an example policy in a container host that runs every 10 minutes to generate log data:
[code]

When looking at the logs saved to blob storage, the log files are all created on the hour and then last modified on the 50 minute mark. For example:
[code]
The logs for the 5 preceding executions have been deleted. Further evaluation is needed to determine if this also happens in Azure Funct

[2019-09-20 18:58] MichaelDavisTSN opened #4838 "gcp - label action (tag action)"
tag is a very useful action that allows policies to interact with each other by applying or removing tags on a resource. We need this functionality for GCP labeling.

[2019-09-20 21:39] jomalsan opened #4839 "azure - container host - multiple policy execution"
Policies run on the container host in mode "container-periodic" occasionally execute 2 or more times when the policy is scheduled to run. The following policy can be used to see this:
[code]
In a two hour period the policy was executed at the following times, where executions are grouped around the expected execution time:
[code]

Using the same binning, the following table shows three policies fr

[2019-09-21 12:16] #3682 closed

[2019-09-21 12:18] jksgit opened #4841 "Newline in violation_desc - c7n_mailer"
How to add newline in the notify descriptions of  c7n_mailer?

[2019-09-21 14:23] sent2020 opened #4842 "Delete inline policies attached to AWS IAM roles"
Delete inline policies attached to roles

[2019-09-21 14:27] #4842 closed

[2019-09-21 14:28] sent2020 commented on #4513
Option to delete inline policies in role and group like iam-user

[2019-09-22 23:03] snowsky opened #4844 "Filter IAM Users with Tag"
I know we can filter user names for IAM users. Is there a way to filter IAM users with tag, for example:

        {
            "tag:Tag": "Value"
        }

Or

        {
              "type": "value",
              "key": "tag:Tag",
              "value": "Value"
        }

[2019-09-23 10:44] abhishekFreshworks commented on #4827
Hey @kapilt ! I have followed the readme for the implementations. Here are my list of queries(Correct me if I'm wrong in my understanding):
1. in the cfn.yml file: as handler function its mentioned **exporter.handler**, but actually the handle function exists in flowdeliver.py. So ideally, it should be  flowdeliver.handle in cfn.yml file.
2. The lambda function deployed in the destination/master a

[2019-09-23 12:40] #4795 closed

[2019-09-23 13:31] llange opened #4845 "aws - VPC Security Group filters "used" / "unused" and ECS Scheduled Tasks"
I just found that those filters were not taking into account the ECS Scheduled Tasks (which do have a Security Group info).

I'm preparing a Pull Request with a proposed workaround.

[2019-09-23 14:11] kapilt commented on #4841
Google yaml multilingual strings, nutshell use a pipe symbol and indent.

On Sat, Sep 21, 2019 at 8:18 AM Jayakrishnan K G <notifications@github.com>
wrote:

[2019-09-23 14:21] kapilt commented on #4844
yes both those examples work

[2019-09-23 15:21] #4754 closed

[2019-09-23 17:32] vtomardb opened #4847 "Azure: c7n-mailer: unable to send messages"
File

[code]

Using virtualenv.

This is what I noticed in `smtp_delivery.py`:

[code]

`message['From']` is not in the message. The output of the message is:

[code]

[2019-09-23 17:57] jomalsan opened #4848 "azure - application insights - shared workbook for visualizing performance"
Create an Azure workbook that user's can easily import to their subscriptions to show the execution of policies running remotely.

Assets:
* JSON definition of the workbook
* README for how to set up the workbook
* Mention of monitoring in the Azure -> Logging, Metrics, and Output doc

Eventually it can be added to the [official workbook repository](https://github.com/microsoft/Application-Insight

[2019-09-23 17:59] vtomardb commented on #4847
If I install c7n-mailer using these steps it worked:

[code]

[2019-09-23 18:47] snowsky commented on #4844
Amazing. if you got some time, could you please shed some lights on where the codes are for this tag filters?

[2019-09-23 22:58] gabel0287 commented on #3146
Seems like this is done for account level public block policies, any updates on being able to set a policy on an individual bucket?

[2019-09-24 07:45] shitulg opened #4851 "mailer- custom templates rendering issue with s3."
Hi Team ,

I created a policy that deletes all the s3 buckets which are not properly tagged.
the policy is working fine but , when I try to notify the same using custodian mailer , the name of the bucket is not getting populated in the email.

Below is the configuration for the template I used :

[code]
but its failing to populate the name of the bucket.

I even tried removing the if blocks but st

[2019-09-24 08:25] saryx123 commented on #4736
Resolved.

I've had a conflict with my AWS IAM policies, even thought i've had admin and explicit s3 & lambda privileges assigned, some other policy blocked me.
Testing my policies one by one, via elimination i've identified the problematic one, thought I still have no idea what the problem with it is.

[2019-09-24 08:25] #4736 closed

[2019-09-24 10:56] shitulg commented on #4851
Kindly take a look Its blocking my policy.

[2019-09-24 14:25] jkovolski opened #4852 "aws - Tagging Launch time of resource"
When using a policy similar to below, the tag 'Launched' will show the value of the date the lambda was deployed not the time the EC2 was created.  It might be interpolating the time when we go to deploy, which means its gets statically rendered into the lambda, instead of being runtime interpreted there.

[code]

[2019-09-24 14:33] kapilt commented on #4852
thanks for the bug report. so we do variable expansion when running policies on the cli which causes the lambda to be provisioned with the static date. we probably need to defer variable expansion for serverless execution modes, although in some cases its not quite that simple as some variables will be unique to cli parameters and need rendering pre-provisioning, but we should defer rendering at l

[2019-09-24 14:35] kapilt commented on #4851
try just rendering the {{resources}} to see what the values are that you can use, this isn't something anyone can help you with it, as its very specific to your mailer jinja templates which look heavily customized from anything we ship with custodian. worth looking at the jinja docs.

[2019-09-24 16:30] justinhauer opened #4853 "AWS - Support OneZone_IA S3 Storage Class"
How hard would it be to support Onezone_ia as an additional storage class for s3 lifecycle policies? For life-cycling certain logs I have, I don't have a need to have this be available in multiple AZ's.

[2019-09-24 16:35] puddleglum1904 commented on #4834
@kapilt So I've been running some additional tests with stripped down SGs, and I don't think it's an issue with 3 or more filters but rather (like you indicated) not taking into consideration previous filter results.

I started off with just two filters:
[code]

I then created two basic SGs:

[code]

Running the check, no alerts on either as expected.

I then added a third filter and third SG:
[co

[2019-09-24 16:40] puddleglum1904 commented on #4834
As a additional note, I did try adding an `- and:` operator when I was down to two filters but had the same result. (I know the "and" should be implicit, but figured I'd just try it anyway)

[2019-09-24 16:56] bhandarime opened #4854 "AWS S3 - Request to figure out UserName and add in bucket policy"
"userIdentity": {
        "type": "AssumedRole",
        "principalId": "XXXXXXXXXXXXXXXXXX:xyz",
        "arn": "arn:aws:sts::123456789:assumed-role/*/xyz",
        "accountId": "123456789",
        "accessKeyId": "XXXXXXXXXXXXXXXX",
        "sessionContext": {
            "attributes": {
                "mfaAuthenticated": "false",
                "creationDate": "2019-09-24T12:17:09Z"

[2019-09-24 17:12] kapilt commented on #4853
afaict its already supported by custodian, we don't hard code the lifecycle class vocabularies, so if its available you can use it with `configure-lifecycle` action on s3 buckets.

[2019-09-24 17:13] ndesai15 opened #4855 "EMR Cloudwatch events support"
EMR Cluster state change is not getting recorded in cloudtrail. Events reported by Amazon EMR have aws.emr as the value for Source, while Amazon EMR API events reported via CloudTrail have aws.elasticmapreduce as the value for Source.

More info about event types: https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/EventTypes.html#emr_event_type

[2019-09-24 17:42] #4832 closed

[2019-09-24 17:43] kapilt opened #4856 "ssm automation document support"
ie support provisioning a custodian policy as an ssm automation document, so it can be used in the idiosyncratic world of ssm/config.

[2019-09-24 17:45] kapilt commented on #4854
can you describe the use case your trying to achieve a bit more?

[2019-09-24 18:25] kapilt commented on #3443
closing out, this was resolved a few months ago afaik

[2019-09-24 18:25] #3443 closed

[2019-09-24 18:35] bhandarime commented on #4854
I want to implement s3 bucket policy through custodian and lock it down to the creator of the bucket.
Similar to the below mentioned bucket policy:
[code]

[2019-09-24 19:42] #4397 closed

[2019-09-24 22:26] tomarv2 opened #4857 "Azure: policy failing if Resource Group does not exist"
Running a policy to remove empty resource group. I except it to continue and ignore what does not exist.

https://cloudcustodian.io/docs/azure/examples/resourcegroupsremoveempty-general.html

[code]

[2019-09-24 22:31] tomarv2 commented on #4857
I think in `resourcepolicy.py` there should be a try and catch somewhere herein:

[code]

[2019-09-25 02:01] tomarv2 commented on #4847
If I follow the above steps, i get email and stack but getting errors:

[code]

and emails from policies are coming as blank..

[2019-09-25 11:26] gileshinchcliff opened #4858 "Trying to understand Log formatting."
Hi Guys, we're pushing our c7n logs into elasticsearch to be able to filter and understand them better. However I'm at a bit of a loss to see whether they follow any kind of standard pattern?

Currently it seems like a bit of a hybrid between text logs and json logging which means we'd have to write a specific schema to make it work.

Looking in the backlog it seems as though this: https://github.

[2019-09-25 14:08] kapilt commented on #4858
3701 didn't really address standard formatting or consistency and frankly once people start indexing logs, we really need to be good about output compatibility because changes will break. it also missed most of the useful information from a context perspective, ie execution context, regions, accounts, etc. it was based almost entirely on just parsing the log messages to output more k/v pairs. ie.

[2019-09-25 14:10] kapilt commented on #4858
for error tracking at scale I'd recommend the c7n_sentry with a deploy of getsentry.io which can do error aggregation at scale across an installation, that can be directly attached to log groups or coupled with c7n_logexporter if your logs groups are spread across accounts/regions and you want to unify the stream.

[2019-09-25 14:12] kapilt commented on #4858
also a recent contribution allows for log group / stream / account destination customization from the cli, see #4809

[2019-09-25 14:19] kapilt commented on #4559
I've tried a few times to reproduce this but even targeting distant regions, i'm not seeing any errors.

[code]

[2019-09-25 14:21] gileshinchcliff commented on #4858
@kapilt I know about #4809  I wrote it, :)

I guess, from where I stand it seems the perfect solution is a long way off in terms of getting the right data and context in the logs and would require a complete overhaul of how logging is done which is a challenge.

However converting it to json, would enable us to get metrics from the info which exists today, totally not a final or perfect solution,

[2019-09-25 14:23] kapilt commented on #4559
looking over terraform's provisioning on config rule, they have an explicit catch retry on permission issues as they note iam is eventually consistent, so its going with the same theory that its an iam race condition, we should probably just catch and retry explicitly on permission denied.

[2019-09-25 14:41] kapilt commented on #4858
I really don't want the project to be in a place where every we time we tweak a log message that we're breaking someone's indexing silently, thats the problem with implicitly parsing the messages. I think there's incremental steps here but its not on the basis of parsing logging messages, its about getting a good json envelope with the right metadata (policy, date, region, account, execution id, e

[2019-09-25 14:48] kapilt commented on #4559
also when reporting errors its also very helpful to use -v for verbose output.

[2019-09-25 15:04] gileshinchcliff commented on #4858
Ok, can we maybe define what you'd like the first iteration to look like. I can have a look at it next sprint to see if I can throw something together to discuss.

[2019-09-25 15:14] kapilt commented on #4844
c7n/filters/core.py handles key=value tag filtering.

[2019-09-25 15:14] #4844 closed

[2019-09-25 15:15] #4851 closed

[2019-09-25 15:15] #4841 closed

[2019-09-25 15:53] #4853 closed

[2019-09-25 15:54] kapilt commented on #4738
it shouldn't be including deny effects, if you feel like it it is please provide examples of policies where you feel like its matching incorrectly.

[2019-09-25 15:54] #4339 closed

[2019-09-25 15:56] #4446 closed

[2019-09-25 16:21] kapilt commented on #4807
0.8.45.0 was released with this feature

[2019-09-25 16:21] #4807 closed

[2019-09-25 16:22] kapilt commented on #4799
if this is a lambda policy you may need to update the sdks in the lambda environment, under mode key add packages: [urllib3, botocore, boto3] to get the latest sdk from the cli environment (with tag support) into the lambda execution environment.

[2019-09-25 19:11] justinhauer opened #4861 "Azure - Block Unwanted regions"
Is there a way with Custodian to replicate the function of the aws policy to block regions?: https://cloud-custodian.github.io/cloud-custodian/docs/aws/examples/blocknonstandardregionresources.html

Should this be done through Azure governance instead?

[2019-09-25 22:53] bhandarime commented on #4854
Kapil, Can this be achieved ? I’m working on locking buckets to the creators , this would be big help if it can be achieved via custodian..

[2019-09-25 23:09] jksgit commented on #4841
Doesn't work for me

[code]
This block of code is coming as a single line in email.

[2019-09-26 00:45] FireballDWF opened #4862 "s3 filter where BucketPolicy does not include a condition"
Use Case: Return all buckets where BucketPolicy is not limiting access to only via an S3 VPCEndpoint.

New filter expected to be able to be configured to find where there are no statements where Effect=Deny and Condition of StringNotEquals, key of 'aws:sourceVpce', and optionally specifying a specific value for that key, but by default any value is sufficient so that specific values don't have to

[2019-09-26 02:03] kapilt commented on #4862
i think we can add this to the existing cross-account filter .. intra-account: true perhaps, and then internally use a different value for local account checks, and assume the lack of any policy statements is an allow. that lets us reuse the existing whitelist_conditions etc. although that won't allow for specifying value matches on the condition.

[2019-09-26 12:08] FireballDWF commented on #4862
As long as will match a specified  condition key then should work for
expected use case

On Wed, Sep 25, 2019 at 9:03 PM Kapil Thangavelu <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-09-26 12:50] charles545587 opened #4863 "custodian run --region all generates session token error"
As a user deplloying to multiple regions using the --region all flag generated the following error

`botocore.exceptions.ClientError: An error occurred (UnrecognizedClientException) when calling the ListFunctions operation: The security token included in the request is invalid `

To isolate the cause, the ec2.describe_regions() api call was used to return a list of regions.  These were then added

[2019-09-26 14:24] kapilt commented on #4863
yeah we need to filter region all with an api call to describe regions, we do that now for c7n-org but need to back port it to c7n as well, this issue exists with both the Hong Kong and Bahrain regions as part of a new region opt-in behavior. Generally multi-region multi-account execution is better via c7n-org as it offers parallelism while the main custodian cli will execute them sequentially.

[2019-09-26 14:25] kapilt commented on #4723
fix released

[2019-09-26 14:25] #4723 closed

[2019-09-26 14:37] saryx123 opened #4864 "Could not find resource ids (bucket public acls)"
[s3 deny publicobject acls](https://cloudcustodian.io/docs/aws/examples/s3denypublicobjectacls.html) rule / lambda fails with the log (warning) Could not find resource ids in cloudwatch,

I have made adjustments to the policy and it did take tinkering with my AWS account to get even this far, very likely that I did misconfigure something.

[This here](https://pastebin.com/WfsjcSD7) is my yml polic

[2019-09-26 14:50] kapilt commented on #4854
it would require a feature contribution/code change to support.

[2019-09-26 15:36] kapilt commented on #4863
previous report #4290

[2019-09-26 17:57] jtroberts83 commented on #2115
@kapilt I continue to get this request from my customers to have RDS offhours tagging.  While I know it is available via a "workaround", getting the custodian code to do a replace on certain tag characters so that they match what c7n is looking for that seems like a somewhat easy win.

[2019-09-26 19:28] kapilt commented on #4545
re fixed on master it was regard to c7n-org, it wasn't reporting useful numbers when executing lambda policies. the actual policy effect was the same so your reference to dynamodb tables sounds unrelated, do you have some details wrt to that?

[2019-09-26 20:19] vtomardb commented on #1693
Thanks @cixelsyd , it was good list, I removed two things in our use case: `s3:getObject` and `sts:AssumeRole`

[2019-09-26 23:22] kapilt commented on #4864
What version of custodian? The log indicates that custodian resolve the ids expression to any value therefore had nothing to execute the policy on.

[2019-09-27 00:48] cixelsyd commented on #1693
Your'e welcome! Love that datadoghq page to aspire to, @vtomardb . agree its beautiful documentation.

[2019-09-27 06:57] shitulg commented on #4851
Hi Kapil ,
Thanks so much. I worked on my template file and it needed some tweaking here and there after which it worked fine.

Also your suggestion to go through the Jinja docs worked for me.

Thanks for your help always.

Regards

[2019-09-27 16:40] logachev commented on #4861
I believe all resources have their `location`, so I think you can use it to filter & use `delete` action.

However, I'd recommend to use Azure Policy for this.. It will prevent anyone from deploying resources in non-allowed location, see https://docs.microsoft.com/en-us/azure/governance/policy/samples/allowed-locations

You can use Custodian to ensure Policy assignment exists in all your subscript

[2019-09-27 16:55] logachev commented on #4847
Can you please share your jinja template?

I tried to run latest c7n & c7n_mailer with `default.html` template and it was working
![image](https://user-images.githubusercontent.com/1036695/65787044-591daf00-e158-11e9-87ed-9417beb35d28.png)

[2019-09-27 17:31] vtomardb commented on #4847
@logachev :
 i am just using the default templates for slack and email, nothing customized as yet:

[code]

[2019-09-27 19:02] #4315 closed

[2019-09-27 19:57] shitulg commented on #4066
Thanks Kapil you always help

[2019-09-27 19:57] #4066 closed

[2019-09-27 20:10] aakifshaikh opened #4871 "AWS-Custodian does not support resource: iam-identity-providers"
I am trying to put some custodian policies around identity providers (AWS) and looks like the resources is not defined for that.

policies:

- name: sec-n-iam-identity-provider-check
  comment: |
    Find IAM Identity Providers other than GOOD.
    This will provide you with the list of all identity providers deployed in all AWS accounts.
    This custodian is used to support and automate the acce

[2019-09-28 00:56] stefangordon opened #4872 "test - testing doc examples is very expensive"
We should investigate if there are opportunities to optimize doc example testing as it is extraordinarily expensive  (~4 minutes in tox run)

`222.34s call     tests/test_doc_examples.py::test_doc_examples[aws-AWS]`

[2019-09-28 01:53] stefangordon opened #4873 "azure - reduce validation in tests"
There are a significant number of tests which do schema validation in the Azure tests.  Schema validation is absurdly slow, so we should remove validation from tests which are not explicitly testing validation.

[2019-09-28 02:22] #4872 closed

[2019-09-28 21:03] ericdahl commented on #4545
Hi Kapil

I've created a self-contained test case repo showing the issue here: https://github.com/ericdahl/test-c7n-org-dynamo-tag

I hope it's self-contained and easy to follow. Maybe I'm doing something wrong with c7n-org but this type of thing works with other resources like EC2 instances

[2019-09-28 23:45] FireballDWF opened #4874 "STS calls to use regional endpoints instead of global endpoint"
Change STS api calls to use regional STS endpoints to gain the benefits of "reduce latency, build in redundancy, and increase session token validity" as documented at https://docs.aws.amazon.com/general/latest/gr/rande.html#sts_region

This will also enable leveraging a VPC Endpoint for STS, if provisioned.

[2019-09-29 00:14] kapilt commented on #4874
We’re deferring this to the boto asks where this should be handled and have extant issues, I’d suggest looking at those.

[2019-09-29 00:41] FireballDWF commented on #4874
If you are referring to an issue other than https://github.com/boto/boto3/issues/1939 please let me know

[2019-09-29 02:22] FireballDWF commented on #4874
If add a call like stsClient.setEndpoint("sts.eu-west-1.amazonaws.com") as per https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html#id_credentials_temp_enable-regions_writing_code then we don't have to wait for boto3 to make changes

[2019-09-29 11:30] kapilt commented on #4874
sts in boto3 seems to have oddities wrt to its regional handling vs other services, namely that it doesn't respect the region_name parameter on client construction, and instead requires the caller to manually construct the endpoint url. yes we can work around it, although i don't know that citing java is per se a good example, the sagemaker workaround seems tenable (see pr ref'd from github issue)

[2019-09-29 11:38] kapilt commented on #4873
fwiw, schema validation on tests in other providers is only done in ci behind an environment variable, the measured performance latency was about 20%, mostly this is controlled in tests via validate parameter to load_policy which is only explicitly set in tests that are testing their validation methods.

[2019-09-29 17:52] stefangordon commented on #4873
Yep exactly - I noticed some test classes got carried away with copy/paste have have explicit validate on large numbers of tests.  In a profiled run of the Azure provider with validation disabled in the environment variable I still see 75% of the test time lost to schema validation.

[2019-09-29 20:04] kapilt commented on #4874
i think we should go ahead and try to support this directly, that other apps are doing so (sagemaker) is evidence of the need, and it enables better support for sneaker net setups where there isn't internet access (all vpc endpoints for api access). there's also potentially some consideration here for backwards compatibility, many enterprises are using white listing proxies, if they have the globa

[2019-09-29 20:09] kapilt commented on #4871
fwiw, there's an extant pull request for saml/openid providers as filters on the account.

[2019-09-29 20:13] kapilt commented on #4873
definitely worth turning off by default unless its specific to the test. also its worth noting that care is needed with profiling for performance timings, the instrumentation can pertub the results significantly due to the function stacks depths in validation, the overhead i noted previously was done sans profiling, just measuring the effect of turning on the validation env var. when we drop py2 s

[2019-09-29 21:38] stefangordon commented on #4873
Re drop py2: Are you referring to that `fastjsonschema` implementation? I tried it out and its very fast, but it doesn't have a huge user base.

[2019-09-30 11:46] llange opened #4876 "aws - "c7n-org run" - Error (timeout / connection closed) during Lambda policy deployment"
I have the following error: `error:Connection was closed before we received a valid response from endpoint URL: "https://lambda.eu-west-1.amazonaws.com/2015-03-31/functions/custodian-XXXXXXXXXXXXXXXXXXXX/code".` or `error:Read timeout on endpoint URL:"https://lambda.eu-west-1.amazonaws.com/2015-03-31/functions/custodian-XXXXXXXXXXXXXXXXXXXX/code"` during deployment of policies to Lambda, when usin

[2019-09-30 12:59] kapilt commented on #4876
there are two available options that can be used to configure custodian's behavior here.

1. tune the read timeout which controlled via sdk/boto config files.
2. tune the concurrency of c7n-org to match your upload link speed

## configuring read timeout

ie.  in `~/.aws/config` add

[code]

the defaults on both of them are 60 seconds

## configure c7n-org parallelism

c7n-org defaults to number o

[2019-09-30 13:39] #4693 closed

[2019-09-30 13:57] #4559 closed

[2019-09-30 14:02] kapilt commented on #4876
we should probably make the parallel count config exposed on the cli for better discoverability.

[2019-09-30 15:01] stefangordon opened #4877 "azure - cosmos live test failure"
[code]

[2019-09-30 15:59] ndesai15 opened #4878 "Enhancement to ASG filters"
I have come across one situation where ASG has been created with Launch Template & Launch template is tag compliance & propagating tags to instances. Now I have a policy for ASG tag validation. It is same as ASG tag compliance example policy, provided in custodian documentation. This policy checks only at ASG level (propagated-tags filter also just checks for if a list of tags have been propagated

[2019-09-30 16:15] kapilt opened #4879 "ci - test failure azure"
could be intermittent, but happened on trunk, so going to watch it for a bit

[code]

https://github.com/cloud-custodian/cloud-custodian/runs/241769836

[2019-09-30 17:22] stefangordon commented on #4837
Yeah so the default format string we are using for the path is just to the day.  Certainly we could include time in the folder structure but I wonder if putting the time on the file names might be nicer at that point.  I'll glance back at the S3 output provider and see if they are doing something different here re: file naming.

[2019-09-30 17:25] stefangordon commented on #4839
Fixed with #4831

[2019-09-30 17:25] #4839 closed

[2019-09-30 18:37] terpmeister opened #4881 "c7n_mailer, AWS not installing Lambda, no logs, no errors"
I have tried to setup/install the c7n_mailer lambda on our AWS account according to the docs.  I have tried it from my Mac and from Docker Images (in a Jenkins pipeline) to no avail. The kicker is I am not getting any error, or output. Is there anything I can look at to see if I have an issue from my end our something on the AWS account.  This is the command I am running:
[code]

[2019-09-30 18:39] kapilt commented on #4881
are you checking in the same account and region that you have credentials? ie. that cli would error out w/ msg if it wasn't successfully provisioning a function.

[2019-09-30 18:48] terpmeister commented on #4881
Ah, that was what was missing, I was not setting a region in my `config.yml` so it was defaulting us-east-1, and I was looking in us-west-2.  I wonder how hard it would be to setup some basic logging info when running `--update-lambda`. Thanks for the help!

[2019-09-30 19:10] kapilt commented on #4878
if you have a tag policy on the asg thats verifying your tag regime with propagation checks then it will eventually go to all instances, you can have a separate policy wrt to reporting on extant ec2, or you can do a propagate action that will copy compliant asg tags to instances as a one off policy activity.

[2019-09-30 19:13] kapilt commented on #4879
doesn't seem to have reoccurred in the three prs subsequently merged, tossing up as a heisenburg

[2019-09-30 19:13] #4879 closed

[2019-09-30 19:31] ndesai15 commented on #4878
But what is ASG doesn't have any tags? still instances under-hood that asg have all the mandatory tags. Now I can't take actions directly on ec2 machine as it is part of ASG, so it will like fighting against asg machine.

[2019-09-30 20:05] ndesai15 commented on #4878
Do you mean propagate-tags filter? This filter is designed to find all asgs that have a list of tag keys that are set to propagate to new instances. But I am talking about what is ASG doesn't have tag & instances that are part of ASG have all proper tags via lunch-template? How can I check in this case?

[2019-09-30 20:27] kapilt opened #4884 "tools/ops/mugc - support newer aws execution modes"
some of the newer execution modes like hub-action require additional garbage collection from mugc. that feature merge also corresponded with lambdas being tagged with mode, which we should use to inform mugc cleanup. additionally mugc should delegate to some provider abstraction for actual cleanup, since we're operating in a context sans policy, we'll need explicit cli pass through on the provider

[2019-09-30 20:34] jtroberts83 opened #4885 "AWS Config Rule Deploy Error With S3 Resource"
We are testing out the c7n config-rule mode for the first time. We are running into an error with a policy we are testing. Here is the policy:
[code]
and here is the error:
[code]

Config Event:
[code]

[2019-09-30 23:55] gfog-floqast opened #4887 "c7n-mailer not showing Account number (AWS)"
Using both Slack and email notifications with c7n-mailer and c7n-org and I am unable to see the Account field getting populated.

My mailer.yml file is as follows:
[code]

My policy is as follows:
[code]

My email notifications appear as follows:
[code]

And my Slack notification looks as follows:
[code]

I have tried multiple iterations and with multiple policies and am unable to get the Account

[2019-10-01 08:18] YpsiBe opened #4890 "invoke-lambda should allow custom parameters to send to the lambda"
Hello,

First thank you for this wonderful tool ! I have a question regarding the invoke-lambda action. For now, it seems like the only parameters provided to the lambda are the one described in the documentation:
 - resources / collection of resources
 - policy / policy that is invoke the lambda
 - action / action that is invoking the lambda
 - event / cloud trail event if any
 - version / versio

[2019-10-01 10:00] kapilt commented on #4890
having a parameters mapping on the action that we pass through sounds good.

[2019-10-01 12:13] kapilt opened #4892 "ci - azure failures"
ci appears to be failing for pull requests due to unrelated instability (compatibility breakage) in the azure sdks

[code]

[2019-10-01 12:13] kapilt commented on #4892
fixed by #4889

[2019-10-01 12:18] #4290 closed

[2019-10-01 12:18] #4863 closed

[2019-10-01 12:18] #4892 closed

[2019-10-01 12:22] kapilt commented on #4887
do you have the iam account alias for your accounts set? you also didn't show your mailer template so its unclear how your referencing/inserting account into the message. in jinja2 mailer templates {{account}} shows the iam account alias, but that needs to be setup else it will be an empty string. additionally you can use {{account_id}} though that lacks readability.

[2019-10-01 13:27] jmery opened #4893 "azure - auto-tag-date example code throwing stack trace"
[code]
When attempting to run the sample policy for `auto-tag-date`, a stack trace is thrown.  It appears that `auto-tag-date` isn't a valid action type?

Sample code:
[code]
☝️ from https://cloudcustodian.io/docs/azure/resources/azure-common-actions.html#azure-common-actions-auto-tag-date

Stack trace:
[code]

[2019-10-01 16:15] kapilt commented on #4893
it looks you might be running an older version of the azure provider that doesn't have the auto-tag-date action.

try `pip install -U c7n_azure` and `pip install -U c7n` to update.

[2019-10-01 17:14] gfog-floqast commented on #4887
Thanks for your quick response, I'm just using the default slack template, so not using anything custom for the mailer template.

We do not have account aliases set up for all our accounts so I added the alias and now I'm not getting any alerts.

In looking at the CW logs I'm seeing the following error: `botocore.exceptions.ClientError: An error occurred (InvalidAddress) when calling the SendMessa

[2019-10-01 17:35] kapilt commented on #4887
you shouldn't have {account} in your queue url, use {account_id} instead or if your using a single queue across accounts just have the verbatim value for queue url.

[2019-10-01 17:37] #4885 closed

[2019-10-01 18:10] jmery commented on #4893
Looks like that did the trick.  Thanks.  On a related note ...

When deploying custodian for production, what are the best practices in pinning versions of custodian in relation to things like c7n_azure?

We currently pin both the custodian and tools based on the versions listed in the tagged release (e.g. https://github.com/cloud-custodian/cloud-custodian/commit/f6a98c6918c437033e635758302d72a25a

[2019-10-01 18:51] gfog-floqast commented on #4887
so the {account} in my transport.queue is actually an account var:
[code]

My guess is that I'm attempting to pass a var that is already being declared so it's not accepting my var.

At any rate, updated transport.queue to use {account_id} fixed the issue and I'm now seeing the Account Alias getting populated in my Slack notification.

Thanks for your help, it's been very...helpful.

[2019-10-02 16:11] kapilt commented on #4893
production deploys are about getting consistent working sets across the packages for custodian, the provider in use, and the dependencies. generally we release lockstep for custodian core and across providers. generally the c7n to provider dependency consideration between the providers and the core is pretty loose, in that the provider will work across multiple versions of core, however its someth

[2019-10-02 16:30] kapilt opened #4899 "deprecate ufuncs package"
the two serverless micro functions in this package aren't actively used. the log sub is not exposed to policies. the encrypt s3 handler is exposed through an s3 action, but its effectively deprecated given AWS has significantly better options for that functionality (s3 bucket encryption setting) that obviates the need for this. I suggest we make it a no-op and a validation warning noting the same

[2019-10-02 20:57] kapilt commented on #4893
I talked to @stefangordon about this on gitter, I think I'm going to take this as an action item/bug that we need to pin deps for c7n_azure on release to work around the instability of the azure sdk graph overtime, such that pypi based installs for c7n_azure are usable reliably.

[2019-10-02 21:42] kapilt commented on #4874
I've had to revert this as we're getting errors on assume on trunk, so this issue remains open, and requires some debugging on why regional endpoint usage doesn't work for us out of the box.

[2019-10-02 22:23] #4751 closed

[2019-10-02 23:43] aluong opened #4905 "c7n-mailer - azure sendgrid pinned version not compatible with requirements.txt"
The requirements.txt is installing sendgrid==6.1.0, but we are pinned to sendgrid==6.0.5.

We should look if it's possible to remove the pin in our setup.py

## Error:
`c7n-mailer 0.5.4 has requirement sendgrid==6.0.5, but you'll have sendgrid 6.1.0 which is incompatible.`

[2019-10-03 00:18] #4887 closed

[2019-10-03 01:28] #4631 closed

[2019-10-03 01:38] kapilt commented on #4603
generally we prefer not to assign items unless there's a pr imminent.

[2019-10-03 03:05] FireballDWF commented on #4874
Make sure that calls to IAM are forced to specify region of us-east-1.  See https://docs.aws.amazon.com/general/latest/gr/signature-v4-troubleshooting.html#signature-v4-troubleshooting-credential-scope for more assistance.

[2019-10-03 12:05] jmery commented on #4893
Thanks @kapilt.  We're basically pip freezing via our install process (dogfooding one of our commercial products internally).  That works well enough for our purposes and it's good to see it inline with your recommendations.  Appreciate the help!

[2019-10-03 12:05] #4893 closed

[2019-10-03 13:26] kapilt commented on #4893
cool, fwiw at least for the custodian azure provider package (c7n_azure), i think for the next release we're going to move to freezing the transitive dependency set on upload to pypi via https://github.com/cloud-custodian/cloud-custodian/pull/4901

[2019-10-03 15:37] wsf11 commented on #4448
**Findings**

Currently, when you click a link in the navigation bar, it is toggled as the `current` link, and the navigation bar is reloaded to the starting position. After reloading, the link with the `current` class is found, and a `scrollIntoView` function is called, so that the link you selected is now at the top of the nav bar.

I don't see a great workaround unless we can save the position/

[2019-10-03 17:42] aluong opened #4906 "c7n-mailer - azure functions error when using SendGrid"
Using a simple policy to queue a notification from the example [here](https://cloudcustodian.io/docs/tools/c7n-mailer.html#using-on-azure).

I see the following two errors:

1. Default Template
[code]

2. Fetching contents of an object
[code]

[2019-10-03 19:44] erwelch opened #4908 "Azure - mailer function should be queue trigger instead of time trigger."
Currently when the c7n-mailer deploys an Azure Function it is a time triggered function that pulls from a queue that runs every 10 minutes.

The user should be able to either configure the time trigger CRON job or convert it to a Queue Trigger function since it's pulling from a Queue anyways.

[2019-10-03 20:39] elzayat commented on #4827
@abhishekFreshworks  for 2 i think you don't need lambda cross account access as long as you have bucket policy for the master bucket. and lambda execution role in target accounts have access to write to this bucket

[2019-10-03 23:38] kapilt commented on #4905
doh.. I can take a look at this in tomorrow early if not addressed before then, it looks like I pissed one Datadog dependency in mailer as well that needs updating. surprised that the tox tests didn't complain on the conflict previously.

[2019-10-04 14:12] kapilt opened #4912 "proposal - terraform functional testing"
## Background

In order to enable consistent and better functional testing across providers, we want to start using terraform to enable provisioning of resources for functional tests. At least for the AWS provider historically functionally testing has been via decorating tests with the functional decorator, *when* the tests also encode the api calls to setup their pre-conditions (infrastructure re

[2019-10-04 14:26] kapilt commented on #4912
some interesting prior art that might be useful to explore
 -  bridging of Zope.testrunner's layers concepts to pytest, zope layers are effectively class based fixtures https://zopetestrunner.readthedocs.io/en/latest/testrunner-layers-api.html
 https://bitbucket.org/gocept/gocept.pytestlayer/src/default/
 - an alternative distributed runner https://github.com/ansible/pytest-mp with shared fixture

[2019-10-04 17:12] kapilt commented on #4912
one further set of goals though probably not for initial usage would be towards enabling a testing cli tool for user policies, with terraform as provisioning tool

[2019-10-04 18:19] #4905 closed

[2019-10-04 19:05] #4906 closed

[2019-10-04 20:01] iantype opened #4915 "AWS ingress filter for UserIdGroupPairs lacks documentation"
There is no documentation/examples for UserIdGroupPairs using the security-group resource ingress filter. I have tried a number of things with no success.

[2019-10-04 20:16] wsf11 opened #4916 "docs - reorganization/trim"
Most Python doc sites do not put as much content in their navigation bar, so the nav bar jumping out from under each click isn't as much of an issue (Issue #4907) . Since static nav bar positioning isn't currently supported, the current docs could be reorganized to combat this issue.

i.e. trimming expandable levels such as the contributing section into one level, or reorganizing the tools section

[2019-10-04 20:20] #4812 closed

[2019-10-04 20:39] kapilt commented on #4915
cloud custodian is a cloud management tool, it does require understanding the underlying cloud infrastructure thats being managed. there are numerous examples for ingress filters in the documentation https://cloudcustodian.io/docs/aws/resources/security-group.html#aws-security-group-filters-ingress but its not exhaustive of all permutations and attributes, because they naturally follow the same us

[2019-10-04 21:07] kapilt commented on #4812
For generic cli commands it would be nice if this was documented a way that didn’t require duplication for every provider.

[2019-10-04 22:00] iantype commented on #4915
If you create a `-not:` `Cidr:`filter with a list of IPs you can run into issues because it declares nested SGs as not matching that pattern, so I am trying to understand how can I add additional filter similar to `Cidr:`, which the documentation's schema including `UserIdGroupPairs:` made me assume it had similar conveniences:

[code]

[code]

I haven't been able to find filter examples with digg

[2019-10-04 23:12] catalinpan opened #4918 "Cannot stop paravirtual ec2 instance"
Hi.
Can I have some help please with below policy as I'm not sure what I'm doing wrong?
Currently I'm using the following configuration to stop the ec2 instances. It works fine for all the hvm instances but not for the paravirtual instances.

```custodian run -v -s out policy.yaml --region eu-west-2  --cache-period=0```

[code]

I get the following output without any trace of this request in cloud

[2019-10-05 01:39] iantype commented on #4915
One solution that should work is, by way of this doc: https://cloudcustodian.io/docs/filters.html

[code]

[2019-10-05 01:51] FireballDWF commented on #4874
The following proves it's not a boto3/botocore issue, as the awscli which uses them as well works when the region is consistent.

Using awscli, able to reproduce the exact error reported in #4900 when there is a mismatch between the value of region in the --endpoint-url and --region parameters:
[code]

Using awscli, able to assume the role when the regions match:
[code]

While last example (succes

[2019-10-05 10:18] kapilt commented on #4874
hmm, thanks for verifying correct behavior, looking back at the pr, it was indeed just setting the endpoint url not the region name as well. https://github.com/cloud-custodian/cloud-custodian/pull/4875/files should be a simple fix.

[2019-10-05 10:44] kapilt commented on #4918
is it an ephemeral instance? if so it can't be stopped.

[2019-10-05 15:45] #4640 closed

[2019-10-05 19:17] #4386 closed

[2019-10-05 20:35] catalinpan commented on #4918
I've checked and is not an ephemeral instance. I can shutdown the instance via AWS console and AWS cli without any problems.
Something to add is that this instance is c3.2xlarge running CentOS with aki-c362fff9 kernel.

[2019-10-06 13:31] kapilt commented on #4912
continued exploration of pytest and other testing frameworks (nose2, zope.testlayer), and it looks like supporting unittest class bases is going to be problematic for fixture usage as pytest won't perform injection into unit test derived classes. which means trying to bring up a new pytest native/centric common testing infrastructure. our use off addCleanup in the base test infrastructure (to supp

[2019-10-06 15:46] kapilt commented on #4912
i've put up a pr refactoring the common custodian testing infrastructure to work as a pytest fixture in addition to the extant unittest class support, and moved a few tests over to use it, this enables the use of other pytest fixtures natively.

[2019-10-07 13:26] #4376 closed

[2019-10-07 13:29] stefangordon commented on #4162
Before implementing please provide design for how child resources will be handled.  e.g. if you get an event for a SQL Database but the policy targets a SQL server, can you truncate the resource ID and make it work? Should you?

[2019-10-07 13:32] stefangordon commented on #3211
We have decided to leverage the new workbooks feature in #4849

[2019-10-07 13:32] #3211 closed

[2019-10-07 13:34] stefangordon commented on #3178
We now have container support that includes the ability to find/fix containers with public access which may satisfy this feature request:
https://cloudcustodian.io/docs/azure/resources/storage-container.html#azure-storage-container

[2019-10-07 13:38] kapilt commented on #3178
Unless container settings always trump object settings then there is still
a need for per object scanning ala salactus, note salactus is intended as a
generic visitor pattern, so has utility beyond just acl scans.

On Mon, Oct 7, 2019 at 9:34 AM Stefan Gordon <notifications@github.com>
wrote:

[2019-10-07 13:41] stefangordon commented on #4908
Might work OK if we keep the code as-is (polling) and just use the additional trigger (can we have both?) to short-circuit the wait time.

Either way things to keep in mind while testing it out:
1) If two instances are running we shouldn't get two emails (maybe functions trigger is smart enough to manage this for you)
2) If there are lots of messages in the queue before you deploy mailer, it shoul

[2019-10-07 13:42] stefangordon commented on #4830
metrics might == `metrics` OR `events` based on user option

[2019-10-07 13:43] stefangordon commented on #4828
This would be a new log output URL format I suspect

[2019-10-07 13:45] stefangordon commented on #4826
Yeah I vaguely remember we have a hook there already in session.py to configure some retry stuff.

[2019-10-07 14:00] stefangordon commented on #4823
You'd provide the full path to the gzip file for us to decompress?  Or use the template you used for output and we try to enumerate and find the latest one?

Do we need a feature request against core to discuss this?

[2019-10-07 14:01] #4775 closed

[2019-10-07 14:04] stefangordon commented on #4729
Needs design/discussion

[2019-10-07 14:05] stefangordon commented on #4528
Did discover that `--dry-run` forces the mode (but omits actions).

[2019-10-07 14:07] #4877 closed

[2019-10-07 14:09] stefangordon commented on #3178
I believe public access settings only exist at the container level, so for this common scenario core custodian should be sufficient.  There might be other future scenarios where a tool like salactus is useful.

[2019-10-07 17:25] #4614 closed

[2019-10-07 18:38] logachev commented on #4912
Not sure I understand an issue here.. My proposal is to shape templates committed to the repo as Terraform Modules and construct actual deployment unit in tests runtime. That way even if we have multiple tests using same module (e.g. AWS EC2, Azure VM) we don't need any sync between deployments.

Sounds good.. Lets use `~\.custodian\tests\terraform` as a base folder?

Minor: we don't need to copy

[2019-10-07 19:03] wsf11 opened #4921 "docs - azure - mailer"
From the docs, it is very unclear what Azure supports in mailer.

As a new user, I would look for the `Using on Azure` header to figure out what Azure supports. Currently, there are Azure specific guidelines spread throughout the docs; however, this can be confusing because Azure does not support various features found throughout the docs such as a `contact_tags` key in `mailer.yml` or using `reso

[2019-10-07 22:26] logachev commented on #4729
It was fixed with this PR: https://github.com/cloud-custodian/cloud-custodian/pull/4756

[2019-10-07 22:26] #4729 closed

[2019-10-08 13:42] #4162 closed

[2019-10-08 17:47] atheiman commented on #3146
@gabel0287 where do you see how to do this in cloud custodian for an entire account as described here: https://docs.aws.amazon.com/AmazonS3/latest/user-guide/block-public-access-account.html

[2019-10-08 20:47] wsf11 commented on #4543
Because of the errors with finding the correct API Version, deleting SQL databases does not work as well

[2019-10-08 20:50] jondavidi opened #4926 "Plugin Loading Bypasses Package Dependency Validation"
A bug was introduced in #4195 which, for certain plugins, bypasses running dependency validation defined in `setup.py` using the `install_requires` flag for a given plugin. The affected plugins are the "core plugins" (`c7n_azure`, `c7n_gcp`, `c7n_kube`) which were changed to be loaded via hardcoded logic in `/cloud-custodian/c7n/resources/__init__.py`

Before the changes in #4195, every plugin was

[2019-10-09 12:23] kapilt commented on #4926
C7N_EXTPLUGINS is not a supported feature, its best effort, as it represents anti community and project enablement.

What was introduced was not a bug, but an optimization as pkg_resources is a hot path for serverless initialization.  Clearly this issue is not relevant to the vast majority of users that are using custodian in production without issue. The fact that it passes thousands of unit test

[2019-10-09 15:01] jondavidi commented on #4926
@kapilt What then would you suggest be used as an install-time mechanism for verifying dependencies? Right now nothing is enforcing it, and there's several dependency errors that get thrown in a typical `make install`. Before the changes in #4195, these dependency issues were addressed by the community and resolved because pkg_resources was enforcing validation, such as in #2695.

I definitely und

[2019-10-09 15:14] kapilt commented on #4926
external systems are intended to integrate with value_from on filters to decouple from the internal systems which often have vastly different slas, and to use invoke lambda/sfn for action integration. the extplugins is not intended for that and is anti pattern for those use cases. again extplugins may be removed in the future, it is not a supported feature.

[2019-10-09 15:16] kapilt commented on #4926
wrt to install time verification, using an installer that verifies the dependency chain is correct. the underlying issue here is the azure sdk is publishing unusable packages, which should be fixed upstream. what issues are you referencing in make install?

[2019-10-09 15:29] jondavidi commented on #4926
the issues I'm referencing during `make install`, is when packages are being installed there are several dependency errors raised in the stdout (but that don't block execution). These are the ones that my PR was fixing (azure and kubernetes version conflicts). It's only when actually loading these packages with `pkg_resources` at runtime that it throws the same errors, but in an execution blocking

[2019-10-09 16:59] #3890 closed

[2019-10-09 17:44] erwelch commented on #4617
As an update - non-ARM resources are not supported in Event Grid, per: https://docs.microsoft.com/en-us/azure/event-grid/overview

Will add validation logic to prevent users from adding them as the `resource` in event grid mode.

[2019-10-10 16:18] jondavidi commented on #4926
To clarify, there's multiple dependency errors in the output for Azure and Kube that are not related to the azure sdk upstream issue

And therefore those fixable dependency requirements still cause blocking issues on their own with the use of `C7N_EXTPLUGINS`

[2019-10-10 18:05] kapilt commented on #4864
`custodian version` cli will show the version you have installed (--debug to that will add additional information useful for bug reports). for older versions you might have to prefix ids expression value as `details.requestParameters.bucketName` although we automatically supply the details prefix if its absent for the releases in the last year.

[2019-10-10 18:21] #4926 closed

[2019-10-10 18:24] kapilt commented on #4921
we need to get away from doing provider specific docs on generic features sets, like what was done for custodian report command (azure specific docs on generic features), better for mailer would be to resolve the feature issue on refactoring transports so thats its in sync with aws.

[2019-10-10 19:55] jondavidi commented on #4926
@kapilt Understood about opening new ticket specifically for dependencies.

And regarding your `make install` output you linked to, lines 355-357 contain the dependency errors I've been referring to in this ticket, which break when they are loaded using `pkg_resources` methods.

For your reference from your output link (lines 355-357):
[code]

[2019-10-10 21:47] kapilt commented on #4916
sounds good, i'm game for the top level to be collapsed more by default

[2019-10-10 22:07] kapilt commented on #4926
the kube one is fixed in the release pr, the azure ones need upstream fixes from upstream before we can resolve fully.

[2019-10-11 02:24] kapilt opened #4937 "azure - mark-for-op test failures"
getting test failures runnings locally

[code]

[2019-10-11 02:25] kapilt commented on #4937
given its not happening in ci seems to be affected by local system tz (est) or os (osx 10.14)

[2019-10-11 03:40] kapilt commented on #4893
fwiw 0.8.45.1 was released to PyPI and c7n_azure 0.6.1 has frozen version requirements.

[2019-10-11 05:07] jksgit opened #4938 "Dump the resources or policy execution details for audit purpose"
Hi,

We have implemented some resource cleanup policies across all AWS accounts. What is the best way to dump/keep track of deleted resources in Centralised DB for audit purpose?

[2019-10-11 07:22] dockerlearn opened #4939 "Not able to get cpu utilization for gcp compute instances"
Hi Team,
I am Not able to get cpu and memory utilization for GCP compute instances and use them to stop instances with low utilization as we can do it in AWS as shown below. Can someone help me with it pls?
name: ec2-unused-stop-daily
resource: ec2
description: Find unused EC2 instances with 14 day average CPU utilization less than 1.5%, stop them, and mark for deletion in a week.
filters:
type: m

[2019-10-11 13:31] kapilt commented on #4939
we need a metrics filter that pulls in stack driver metrics for resources for comparison

[2019-10-11 13:34] kapilt commented on #4938
see custodian run --help or the docs on how to configure outputs. use -s s3://mybucket/mypath to a versioned s3 bucket with mfa delete for all executions to get an audit log, you can query it with any of the data lake tech or index it as you wish. -m for publishing metrics into CloudWatch metrics. and cloud watch logs. please see the custodian docs (aws topics) as well for config-rule, ssm ops cen

[2019-10-11 13:34] #4938 closed

[2019-10-11 13:36] PratMis opened #4940 "aws | rds-cluster-snapshot tagging feature request"
Request to add support for aws.rds-cluster-snapshot tag , untag and mark-for-op

[2019-10-11 14:33] kapilt commented on #4912
@logachev re concurrent provisioning, at the moment your single threading in a distributed system around provisioning and only performing it at test start. thats kinda of the opposite of concurrent deployments, trying to glom all of those together into a single execution for tf to handle concurrency makes debugging and incrementalism harder since a failure is attached to the entire tf stack execut

[2019-10-11 14:53] wallabyies opened #4942 "Support for EFS Lifecycles"
According to this, it's not an available action: https://cloudcustodian.io/docs/aws/resources/efs.html

Console and CLI instructions from AWS are here: https://docs.aws.amazon.com/efs/latest/ug/enable-lifecycle-management.html

[2019-10-11 17:59] MitchellJeppson opened #4943 "Add support for waiters"
AWS provides the ability to send a request, such as deleting as resource, then wait and block until that request has been finished. AWS calls these 'waiters'. I'm sure Azure and GCP have similar functionality. It would be nice if we could specify this behavior in the policy file.

[2019-10-11 18:44] kapilt commented on #4943
Why?

[2019-10-11 18:46] kapilt commented on #4943
Waiters are just client side polling which increases the number of api calls and execution time, it’s unclear that it has any value in a custodian policy. We do use them internal to implementations where needed, but expressing in user policy seems extraneous and with several downsides.

[2019-10-11 19:04] MitchellJeppson commented on #4943
I'm looking to delete multiple cloudformation stacks. Some of these stacks are dependent on each other so they will fail to delete if their dependent stack is not completely removed before they themselves are deleted.

[2019-10-11 19:39] kapilt commented on #4943
what's the error you see? cfn stack teardown could be quite lengthy, we can do a topological sort on the dependencies if their part of the stack description though to order them during deletion but thats not waiting on deletion, its just attempting termination in order.

[2019-10-11 21:23] logachev commented on #4912
Agreed. In my implementation it can be done on the class level via `template` and `scope` variables.
I don't see a value of mixing together tests that share infra with tests that require dedicated infra.. So I believe it is ok to group them within a class.

In my mind there are 2 large groups of tests:

- Filter tests: shared module, because it is read-only set of operations
- Actions tests: indiv

[2019-10-14 11:32] Naveenraaj opened #4944 "Filter EC2 instance based on region"
Hi,

Thanks in advance,

Can you please let me know, if there is a way to filter EC2 instance based on regions, something similar to,

[code]

Have been running through the docs and examples, but could not achieve it.

Note: when the above filter is ran, all the instance in us-east-1 & us-west-2 is matched as a hit for the filter along with all the EC2 instance irrespective of the region. Almost o

[2019-10-14 16:07] blfarkas commented on #1157
Hello,

Can you please help me?
I want to try to use cloud custodian with filter function and I want to filter all the IPs added to the Security Group. So if there is IP then it should be a match.

I've tried this, but without success.

[code]

Thank you in advance.

[2019-10-14 16:11] blfarkas opened #4945 "Security Group filtering all IPs without security groups with Cloud Custodian"
Hello,

Can you please help me?
I want to try to use cloud custodian with filter function and I want to filter all the IPs added to the ingress for Security Group. So if there is any IP then it should be a match.

I've tried this, but without success (0 matches when SG created with IP).

[code]
I've also tried to search the solution over the internet, but without any luck. Got some hints, but not

[2019-10-14 16:12] ndesai15 commented on #4944
@Naveenraaj , You don't need to pass region in filter. You can pass in when you run your custodian policy with --region. If you don't pass it, by default it takes us-east-1.

Also, value filter takes in key from a describe call only. More info on this is here: https://cloudcustodian.io/docs/filters.html

[2019-10-14 17:18] Naveenraaj commented on #4944
@ndesai15 , Thank you for the reply

But I'm looking for a way to run a single policy with --region all , which could filter out instances on all the regions except us-east-1 and us-west-1

[2019-10-15 06:00] jksgit opened #4946 "Dump the resources or policy execution data to a centralised location"
These policies are running as lambda in all accounts and currently implemented email notification using c7n_mailer. I dont want to dump the data to cloudwatch metrics, instead can I send it to any webhook like prometheus, splunk( saw an integration already) etc?

Please provide any documentation as well and dont close this after your reply.

_Originally posted by @kapilt in https://github.com/clou

[2019-10-15 10:30] kapilt commented on #4946
instead of filing a duplicate new issue you can comment on the original. we generally close question issues that are considered answered.

you can add something to your policy as an action ie. use the web hook action or invoke-lambda or the invoke-sfn to send the data to your custom code.

you can also use the sns transport for notify to enable a pub/sub mechanism, with a mailer sqs on side, and c

[2019-10-15 10:30] #4946 closed

[2019-10-15 11:40] saryx123 commented on #4864
seems i'm at version 0.8.44.3.

So do you think I need to prefix the details.XXX..?
Where exactly?

[2019-10-15 13:35] justinhauer opened #4948 "AWS - Error running example S3 policy"
https://cloud-custodian.github.io/cloud-custodian/docs/aws/examples/s3denypublicobjectacls.html

I'm fairly certain that the principal I am using is valid (the second policy executes fine and lambda deploys) but the first example policy does not execute:

[code]

[2019-10-15 13:59] egeturgay opened #4949 "resource deletion continued despite tag fetch failure for ELBs upon network disruption"
We run cloudcustodian behind a squid proxy for outgoing connections. As a result of a disruption on the proxy caused connectivity to be disrupted during a cloud custodian run.

This in turn caused tags fetching to be failed, yet It continued with the deletion rule which caused the ELBs to be deleted.

I suspect even though, It sounds like an edge case, an unlucky connectivity disruption could end

[2019-10-15 14:05] kapilt commented on #4944
you can use region as a variable in your policy

Region is not an attribute of an ec2 instance. You can get an az using Placement.AvailabilityZone and then do a containment check

[code]

better is not executing the policy in a region you don't care about, there's some work being done on policy conditions in #4466  which would address this use case. in the interim its

[2019-10-15 14:29] kapilt commented on #4949
so each policy executes independently, I'm seeing several policies fail to due to lack of connectivity. the elb policy completes without error. generally its helpful to run with verbose for traceback conditions (identifies cache usage). Was squid here actually down or returning bad results/empty responses, in the case of the latter then there's really no telling whats going to happen because your

[2019-10-15 15:08] egeturgay commented on #4949
Squid was actually down temporarily (as a result of a system reboot), It's not a caching proxy either so It wouldn't return empty results. The logs suggest that (at the bottom) that's it's generating the cache directory as It was absent so my assumption is that CC cache was not relevant. Would that be a correct assumption?
I think It was able to execute the deletion policy as the connection was ba